$white: #ffffff;
$oceanBlue: rgb(44, 189, 251);
$greyBlack: #03658c;
$yellowGold: rgb(30, 30, 30);
$warningRed: rgb(242, 56, 28);
$orangeRed: rgb(247, 99, 92);

$paragraphFontSize: 14px;
$h2FontSize: 16px;

$fontFamily: Arial, Helvetica, sans-serif;
