@import './colors.scss';

.cornerstone {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 22px));
  grid-gap: 40px;

  .project {
    outline: none;
  }

  .project-img {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $greyBlack;
    margin-bottom: 15px;
    transition: transform 0.25s;
    cursor: pointer;
    width: 100%;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover {
      transform: scale(0.95);
    }
  }

  .project-img:focus {
    outline: none;
  }

  h1 {
    font: bold 1.15em sans-serif;
    margin-bottom: 10px;
    color: $greyBlack;
    float: left;
  }

  p {
    font: normal 14px sans-serif;
    line-height: 22px;
    display: inline;
  }
}

@media screen and (max-width: 1200px) {
  .cornerstone {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 1150px) {
  .cornerstone {
    h1 {
      font-size: 1.095em;
    }
  }
}

@media screen and (max-width: 768px) {
  .cornerstone {
    grid-template-columns: 100%;
    padding: 0;

    > div {
      margin: 0 auto;
      max-width: 80%;
    }

    h1 {
      font-size: 1em;
      padding: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .cornerstone {
    > div {
      max-width: 100%;
    }
  }
}
