@import './_page-style.scss';
@import './_reset.scss';

@font-face {
  font-family: 'SourceCodePro';
  src: url('../../assets/fonts/SourceCodePro-Regular.ttf');
}

a {
  text-decoration: none;
}

.page-intro {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  grid-column-gap: 15px;
  margin-bottom: 20px;
  .feature-img {
    border-radius: 5px;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
  }
  .what-you-learn {
    h2 {
      margin-top: 0;
    }
  }
}

blockquote {
  font: italic 14px sans-serif;
  line-height: 20px;
  color: $greyBlack;
}

body {
  background-color: rgba(211, 211, 211, 0.2);
}

.code-preview {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 35%);
  font: normal 13px/20px 'SourceCodePro', sans-serif;
  background-color: $oceanBlue;
  border: 1px solid $white;
  letter-spacing: 0.75px;
  padding: 15px;
  color: $white;
  font-weight: 300;
  pre {
    overflow-x: auto;
  }
}

.details-position {
  right: 25px;
  top: 20px;
}

.element-margin-top {
  margin-top: 20px;
}

.element-shadow {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);
}

#header {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.project-intro {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 20px;
}

html {
  background-color: $white;
}

h2 {
  margin: 20px 0 5px 0;
  font: 600 20px sans-serif;
  color: $yellowGold;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

.img-loading {
  background-color: lightgray;
  height: 250px;
  display: flex;
  span {
    margin: auto;
    font: normal 14px sans-serif;
  }
}

.image-wrapper {
  border-radius: 4px;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

.is-active {
  background-color: $greyBlack !important;
  color: white !important;

  .item-count {
    background-color: $white !important;
    color: $greyBlack !important;
    border: transparent;
  }
}

.project-text,
.project-list {
  color: $yellowGold;
  font: normal 14px sans-serif;
  line-height: 22px;
}

.project-list {
  margin-left: 15px;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.standard-btn {
  transition: all 0.2s ease-in;
  background-color: $white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  color: $greyBlack;
  cursor: pointer;
  outline: none;
  border: none;
}

.single-column-layout {
  max-width: 775px;
  margin: 0 auto;
  font: 14px sans-serif;
  line-height: 22px;
  padding: 0 20px;
  box-sizing: border-box;
}

.page-content {
  max-width: 1400px;
  padding: 0 20px;
  margin: 70px auto 0 auto;
  font-family: sans-serif;
  min-height: calc(100vh - 220px);

  .details {
    width: 100%;
  }

  .two-column-layout {
    display: grid;
    grid-template-areas:
      'leftColumn rightColumn'
      'leftColumn rightColumn';
    grid-template-columns: calc(100% - 320px) 300px;
    grid-column-gap: 20px;
    position: relative;

    .right-column {
      .right-column-cmp {
        display: grid;
        position: fixed;
        width: 300px;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 290px 136px 143px;
        grid-row-gap: 20px;
        grid-template-areas:
          'intro'
          'signup'
          'socials';
      }
    }
  }

  .two-column-layout,
  .three-column-layout {
    .right-column {
      .right-column-cmp {
        display: grid;
        position: fixed;
        width: 300px;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 255px 136px 143px;
        grid-row-gap: 20px;
        grid-template-areas:
          'intro'
          'signup'
          'socials';

        .contact-form {
          grid-area: signup;
          border-radius: 4px;
          width: 100%;
          box-sizing: border-box;
          font: normal 14px sans-serif;
          background-color: $greyBlack;
          color: $yellowGold;
          max-width: 400px;
          margin: 0 auto;
          text-area {
            display: block;
          }
          p {
            font: normal 15px sans-serif;
            margin-bottom: 10px;
            font-style: italic;
            line-height: 22px;
          }
          label {
            margin-bottom: 5px;
            display: block;
          }
          input {
            margin-bottom: 15px;
            display: block;
            max-width: 400px;
            padding: 5px 10px;
            box-sizing: border-box;
            outline: none;
            border: none;
          }
          #message {
            margin-bottom: 15px;
            max-width: 400px;
            padding: 5px 10px;
            box-sizing: border-box;
            font: normal 14px sans-serif;
            outline: none;
            border: none;
          }
          button {
            padding: 5px 10px;
            display: block;
            color: $white;
            font: normal 15px sans-serif;
            border: 1px solid transparent;
            color: $greyBlack;
            background-color: $yellowGold;
          }
          input,
          #message {
            width: 100%;
          }
          button,
          input,
          #message {
            border-radius: 5px;
          }
          .confirm {
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: repeat(2, auto);
            max-width: 400px;
            grid-column-gap: 20px;
            a {
              color: $yellowGold;
              text-transform: capitalize;
              text-decoration: none;
              display: block;
            }
          }
        }

        .social-icons {
          display: grid;
          grid-area: socials;
          grid-template-columns: repeat(2, calc(50% - 10px));
          margin: 0 auto;
          grid-gap: 17px;

          > div {
            text-align: center;
            display: flex;
            cursor: pointer;
            span {
              margin: auto;
              max-width: 125px;
              img {
                width: 100%;
              }
            }
          }
        }
        .welcome {
          border-radius: 4px;
          overflow: hidden;
          font: normal 13px sans-serif;
          line-height: 22px;
          .bio-pic {
            width: 150px;
            overflow: hidden;
            height: 130px;
            float: left;
            margin-right: 15px;
            border-right: 5px solid $greyBlack;
            border-bottom: 1px solid $greyBlack;
            img {
              width: 100%;
            }
          }
          p {
            padding: 10px;
          }
        }
      }
    }

    .middle-column {
      .related-items {
        position: fixed;

        .category-wrapper {
          color: $greyBlack;
          width: 240px;
          margin: 0 auto;
          display: grid;
          grid-template-rows: repeat(4, 135px);
          grid-row-gap: 20px;

          p {
            font: normal 15px sans-serif;
            color: $greyBlack;
            position: absolute;
            top: 3px;
          }

          .related-item {
            margin: 0 auto;
            position: relative;
            outline: none;
            cursor: pointer;
            overflow: hidden;
            font: normal 13px sans-serif;
            border-radius: 5px;
            display: grid;
            grid-template-rows: 25px auto;

            span {
              width: 15px;
              position: absolute;
              right: 5px;
              top: 6px;
              img {
                width: 100%;
              }
            }

            .title {
              color: $white;
              background-color: $oceanBlue;
              padding: 5px;
            }
          }

          .item-wrapper {
            overflow: hidden;
            border: 3px solid $white;
            box-sizing: border-box;

            img {
              width: 225px;
              height: 113px;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
      }
    }
  } /* End of .two & .three-column-layout */

  .three-column-layout {
    display: grid;
    grid-template-areas:
      'leftColumn middleColumn rightColumn'
      'leftColumn middleColumn rightColumn';
    grid-template-columns: calc(100% - 580px) 240px 300px;
    grid-column-gap: 20px;
    .middle-column > div:first-child {
      margin-left: 20px;
    }
  }

  .full-width .left-column {
    width: 100% !important;
  }

  .details {
    position: fixed;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: $white;
    left: 0;
    top: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1;

    .page-title {
      font: bold 1.5em sans-serif;
      float: left;
      color: $yellowGold;
      text-transform: capitalize;
    }
  }
} /* End of .page-content */

.routing-in-angular-text {
  color: $greyBlack;
  font: normal 14px sans-serif;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 20px;
}

@media screen and (max-width: 1300px) {
  .page-intro {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    .feature-img {
      min-height: 300px;
    }
  }
}

/* ####################################### */
/*         Min 1200 W & Max 700 H          */
/* ####################################### */
@media (min-width: 1200px) and (max-height: 700px) {
  .page-content .two-column-layout .right-column .right-column-cmp {
    grid-template-rows: 136px 143px;
    grid-template-areas:
      'signup'
      'socials';
  }
  .page-content .two-column-layout .right-column .right-column-cmp .welcome {
    display: none;
  }
}

/* ############################ */
/*            1375              */
/* ############################ */
@media only screen and (max-width: 1375px) {
  #content {
    width: 100%;
    margin-left: 0;
  }
}

/* ####################################### */
/*            Max 1300 & Max 760 H         */
/* ####################################### */
@media screen and (max-width: 1300px), screen and (max-height: 760px) {
  .page-content {
    .right-column {
      position: unset;
      width: unset;
      height: unset;
      right: unset;
      top: unset;
      grid-area: rightColumn;
    }
    .two-column-layout {
      width: 100%;
      display: grid;
      grid-template-areas:
        'leftColumn rightColumn'
        'leftColumn rightColumn';
      grid-template-columns: calc(100% - 360px) 300px;
      padding: 0 0 0 20px;
      grid-column-gap: 20px;
      .right-column-cmp {
        grid-template-columns: repeat(1, 100%);
        grid-template-areas:
          'signup'
          'socials'
          'intro';
      }
    }
    .three-column-layout {
      width: calc(100% - 40px);
      display: grid;
      grid-template-areas:
        'leftColumn middleColumn'
        'rightColumn middleColumn';
      grid-template-columns: calc(100% - 450px) 423px;
      padding: 0 20px;
      grid-column-gap: 25px;
      .left-column {
        margin-right: 0;
        width: 100%;
        grid-area: leftColumn;
        padding: 0;
      }
      .middle-column {
        grid-area: middleColumn;
        position: unset;
        width: 100%;
        margin: 0;

        .related-items {
          .category-wrapper {
            grid-template-rows: repeat(2, 125px);
            grid-template-columns: repeat(2, calc(50% - 8px));
            grid-gap: 15px;
            width: calc(100% - 40px);
            margin: unset;
            .item-wrapper {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
      .right-column {
        .right-column-cmp {
          position: unset;
          grid-template-rows: 100px auto;
          grid-template-areas:
            'socials socials'
            'signup code';
          width: unset;
          grid-template-columns: repeat(2, calc(50% - 10px));

          .social-icons {
            width: 100%;
            margin: 0 auto 20px auto;
            grid-template-columns: repeat(3, calc(33.3% - 13px));
          }
        }
      }
    }
  }
}

/* ############################ */
/*            1200              */
/* ############################ */
@media screen and (max-width: 1200px) {
  .page-content {
    .three-column-layout {
      grid-template-columns: calc(100% - 255px) 235px;
      .middle-column {
        .related-items {
          position: unset;
          .category-wrapper {
            grid-template-rows: repeat(4, 125px);
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 125px);
            grid-template-columns: 100%;
            width: 230px;
            grid-gap: 15px;
            margin: unset;
            .item-wrapper {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
    .two-column-layout {
      width: calc(100% - 70px);
      padding: 0 30px;
      margin: 0 auto;
      grid-template-columns: 100%;
      grid-template-areas:
        'leftColumn'
        'rightColumn';

      .right-column {
        .right-column-cmp {
          grid-template-columns: repeat(1, 50%);
          grid-template-areas:
            'socials socials'
            'signup code';
          position: unset;
          width: unset;
          grid-row-gap: 35px;
          grid-template-rows: 75px auto;
          .social-icons {
            grid-template-columns: repeat(3, calc(33.3% - 13px)) !important;
          }
        }
        .social-two-column {
          margin: 45px 0 35px 0;
        }
      }
    }
  }
}

/* ############################ */
/*             992              */
/* ############################ */
@media screen and (max-width: 992px) {
  .page-content {
    .two-column-layout {
      .end-of-post-icon {
        margin: 20px auto 35px auto;
      }
    }
    .three-column-layout {
      grid-template-areas:
        'leftColumn'
        'middleColumn'
        'rightColumn';
      grid-template-columns: 100%;
      width: calc(100% - 40px);
      display: grid;
      padding: 0 20px;

      .left-column {
        margin: 0 auto;
        width: 100%;
        align-items: center;
      }
      .middle-column {
        height: unset;
        padding: 25px 30px;
        width: calc(100% - 60px);
        background-color: $greyBlack;
        border: 1px solid $white;
        color: $white;
        margin: 0 0 35px 0;
        border-radius: 6px;
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);

        .related-items {
          .category-wrapper {
            grid-template-columns: repeat(4, calc(25% - 15px));
            grid-gap: 20px;
            width: 100%;
            grid-template-rows: repeat(1, 120px);

            > div {
              .title {
                margin: 0;
              }

              .item-wrapper {
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }
      .social-three-column {
        margin: 35px 0 15px 0;
      }
      .end-of-post-icon {
        margin: 20px auto 25px auto;
      }
    }
  }

  .page-content {
    padding: 0;
  }
}

/* ############################ */
/*             768              */
/* ############################ */
@media screen and (max-width: 768px) {
  .category-menu {
    right: 10px;
  }
  #content {
    margin-top: 50px;
    height: calc(100% - 75px);
    width: 100%;
    margin-left: 0;
    transition: all 0.25s;
  }

  .page-content {
    .details {
      top: 50px;
      padding: 10px 15px;
      .page-title {
        font-size: 1em;
        line-height: 30px;
      }
    }
  }

  .page-content {
    height: unset;

    .left-column {
      width: calc(100% - 45px);
      margin: 0 auto;
      max-width: 500px;
      padding: 0 20px;
    }
    .three-column-layout {
      .left-column {
        max-width: unset;
        float: none;
        margin-right: 0;
        height: unset;
        width: 100%;
      }
      .middle-column {
        padding: 25px 30px 30px 30px;

        .related-items {
          .category-wrapper {
            grid-template-columns: repeat(2, calc(50% - 11px));
            grid-template-rows: repeat(2, 125px);
            grid-gap: 20px;
            > div {
              .item-wrapper {
                img {
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ############################ */
/*             605              */
/* ############################ */
@media only screen and (max-width: 850px) {
  .show-mobile-nav {
    left: 0 !important;
  }
  .show-mobile-close-btn {
    display: block !important;
  }
  .page-content {
    .two-column-layout,
    .three-column-layout {
      .right-column {
        .right-column-cmp {
          grid-template-areas: 'signup' 'socials' 'intro';
          grid-template-rows: 140px 130px auto;
          grid-template-columns: 100%;
          grid-column-gap: 0;
          grid-row-gap: 20px;
          .social-icons {
            grid-template-columns: repeat(2, calc(50% - 10px)) !important;
          }
        }
      }
      .left-column {
        padding: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .page-content {
    .three-column-layout {
      .middle-column {
        .related-items {
          padding: 0;
          .category-wrapper {
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 150px);
          }
        }
      }
    }
  }
}

/* ############################ */
/*             450              */
/* ############################ */
@media screen and (max-width: 450px) {
  h2 {
    font-size: 18px;
  }
}
