@import './colors.scss';
@import './reset.scss';

html {
  background-color: $white;
}

body {
  background-color: rgba(211, 211, 211, 0.2);
}

a {
  text-decoration: none;
}

.greyBlack {
  background-color: $greyBlack;
  color: $white;
}

.yellowGold {
  background-color: $yellowGold;
  color: $greyBlack;
}

.oceanBlue {
  background-color: $oceanBlue;
  color: $white;
}

.project-intro {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 20px;
}

.greyBlack,
.yellowGold,
.oceanBlue {
  height: calc(100vh - 243px);
  margin-top: 10px;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 23px;
  font: normal 15px/22px sans-serif;

  p {
    font-weight: 600;
    padding-bottom: 15px;
  }
}

.item-margin {
  margin-top: 28px;
}

.item-last-child {
  margin-top: 5px;
}

.paragraphFont {
  font: normal 10pt sans-serif;
  line-height: 20px;
  color: $greyBlack;
}

.padding-20-LR {
  padding: 0 20px;
}

.details-position {
  right: 25px;
  top: 20px;
}

.image-wrapper {
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0 25px 0;
}

.screen-btn {
  right: 108px;
  top: 12px;
  z-index: 999;
}

.standard-btn {
  background-color: $white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: $greyBlack;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}

.is-active {
  background-color: $greyBlack !important;
  color: $yellowGold !important;
}

.page-content {
  max-width: 1400px;
  padding: 0 20px;
  margin: 90px auto 0 auto;
  font-family: sans-serif;
  min-height: calc(100vh - 220px);

  .two-column-layout {
    display: grid;
    grid-template-areas:
      'leftColumn rightColumn'
      'leftColumn rightColumn';
    grid-template-columns: calc(100% - 320px) 300px;
    grid-column-gap: 20px;
    position: relative;
  }
  .three-column-layout {
    display: grid;
    grid-template-areas:
      'leftColumn middleColumn rightColumn'
      'leftColumn middleColumn rightColumn';
    grid-template-columns: calc(100% - 580px) 240px 300px;
    grid-column-gap: 20px;
    .middle-column > div:first-child {
      margin-left: 20px;
    }
  }

  .full-width .left-column {
    width: 100% !important;
  }

  .details {
    position: fixed;
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    left: 0;
    top: 70px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;

    .page-title {
      font: bold 1.5em sans-serif;
      display: inline-block;
      color: $greyBlack;
    }
  }
}

/* ############################ */
/*            1375              */
/* ############################ */
@media only screen and (max-width: 1375px) {
  #content {
    width: 100%;
    margin-left: 0;
  }
}

/* ############################ */
/*            1300              */
/* ############################ */
@media screen and (max-width: 1300px) {
  .page-content {
    .right-column {
      position: unset;
      width: unset;
      height: unset;
      right: unset;
      top: unset;
      grid-area: rightColumn;
    }
    .two-column-layout {
      width: 100%;
      display: grid;
      grid-template-areas:
        'leftColumn rightColumn'
        'leftColumn rightColumn';
      grid-template-columns: calc(100% - 360px) 300px;
      padding: 0 20px;
      grid-column-gap: 20px;
    }
    .three-column-layout {
      width: calc(100% - 40px);
      display: grid;
      grid-template-areas:
        'leftColumn middleColumn'
        'rightColumn middleColumn';
      grid-template-columns: calc(100% - 265px) 240px;
      padding: 0 20px;
      grid-column-gap: 25px;
      grid-row-gap: 25px;
      .left-column {
        margin-right: 0;
        width: 100%;
        grid-area: leftColumn;
        padding: 0;
      }
      .middle-column {
        grid-area: middleColumn;
        position: unset;
        width: 100%;
        margin: 0;
      }
    }
  }
}

/* ############################ */
/*            1200              */
/* ############################ */
@media screen and (max-width: 1200px) {
  .page-content .two-column-layout {
    width: calc(100% - 70px);
    padding: 0 30px;
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-template-areas:
      'leftColumn'
      'rightColumn';
  }
}

/* ############################ */
/*             992              */
/* ############################ */
@media screen and (max-width: 992px) {
  .item-last-child {
    margin-bottom: 0;
  }
  .page-content {
    .right-column {
      margin: 0;
    }
    .three-column-layout {
      grid-template-areas:
        'leftColumn'
        'middleColumn'
        'rightColumn';
      grid-template-columns: 100%;
      width: calc(100% - 40px);
      display: grid;
      padding: 0 20px;
      grid-row-gap: 35px;

      .left-column {
        margin: 0 auto;
        width: 100%;
        align-items: center;
      }
      .middle-column {
        height: unset;
        padding: 0 30px 30px 30px;
        width: calc(100% - 60px);
        background-color: $oceanBlue;
        color: $white;
        border-radius: 6px;
      }
    }
  }

  .page-content {
    padding: 0;
  }
  .related-items .category-wrapper {
    padding-top: 10px;
  }
}

/* ############################ */
/*             768              */
/* ############################ */
@media screen and (max-width: 768px) {
  h2 {
    padding-left: 20px;
  }

  .category-menu {
    right: 10px;
  }
  #content {
    margin-top: 50px;
    height: calc(100% - 75px);
    width: 100%;
    margin-left: 0;
    transition: all 0.25s;
  }
  .filter-items .standard-btn {
    padding: 5px 8px;
  }
  .mobile-menu {
    left: 20px;
  }
  #mobile-menu {
    display: none;
  }

  .post-details .top-row {
    margin-bottom: 15px;
  }
  .page-content {
    height: calc(100% - 95px);
    margin: 60px 0 0 0;
  }

  .page-content .details {
    top: 50px;
    padding: 10px 20px;
  }
  .page-content .details .page-title {
    font-size: 1em;
  }
  .page-content .two-column-layout {
    margin: 0;
  }
  .page-content .right-column {
    margin: 0;
  }
  .page-content .two-column-layout {
    width: calc(100% - 45px);
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px;
  }
  .page-content .three-column-layout .left-column {
    max-width: unset;
    float: none;
    margin-right: 0;
    height: unset;
    width: 100%;
  }
  .sidebar-elements {
    display: block;
  }
}

/* ############################ */
/*             605              */
/* ############################ */
@media only screen and (max-width: 605px) {
  .mobile-hamburger,
  #mobile-menu {
    display: block;
  }
  .mobile-title {
    display: block;
  }
  .show-mobile-nav {
    left: 0 !important;
  }
  .show-mobile-close-btn {
    display: block !important;
  }
}

/* ############################ */
/*             450              */
/* ############################ */
@media screen and (max-width: 450px) {
  .page-content .details .page-title {
    font-size: 0.9em;
  }
}

/* New Style */

.mobile-menu,
#mobile-menu,
.category-menu,
.data-block .count,
.mobile-title {
  position: absolute;
}
.mobile-menu .close-mobile-menu,
.mobile-hamburger,
.app-header .logo {
  display: none;
}
.app-header nav #dropdown-component .menu-wrapper,
.app-header nav #dropdown-component .menu-wrapper ul li a,
.app-header .logo img,
#content,
#header,
#app-footer,
#app-footer > div,
#mobile-menu,
.contact-form input,
.contact-form #message,
#content,
.panel-bg,
.page-content .details {
  width: 100%;
}

.accordion-wrapper,
.category-menu,
.category-menu .category-list li,
.code-preview,
.contact-form,
.contact-form input,
.contact-form #message,
.contact-form button,
.page-content .details .breadcrumbs .active-crumb,
.post-details,
.post-details .top-row .git-repo a {
  border-radius: 5px;
}

.accordion-wrapper {
  overflow: hidden;
  border-left: 1px solid rgba(49, 59, 63, 0.9);
  border-right: 1px solid rgba(49, 59, 63, 0.9);
}

.active-link {
  color: $yellowGold !important;
}

#app-footer {
  display: flex;
  background-color: $greyBlack;
  height: 35px;
  margin-top: 25px;
}
#app-footer > div {
  text-align: center;
  margin: auto;
}
#app-footer .copyright,
#app-footer .statement {
  color: $yellowGold;
  font: normal 12px sans-serif;
  display: inline-block;
}
#app-footer .copyright {
  margin-right: 10px;
}
.app-header nav #dropdown-component .selected span:first-child {
  margin-right: 10px;
  text-transform: capitalize;
}
.app-header nav #dropdown-component .selected span:last-child {
  float: right;
  transform: rotate(-90deg);
}
.app-header nav #dropdown-component .arrow-down {
  transform: rotate(0deg) !important;
}
.app-header nav #dropdown-component .menu-wrapper {
  overflow: hidden;
  margin-top: 3px;
}
.app-header nav #dropdown-component .menu-wrapper ul {
  list-style-type: none;
  width: calc(100% - 4px);
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 5px;
  border: 1px solid $greyBlack;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $white;
}
.app-header nav #dropdown-component .menu-wrapper ul li {
  overflow: hidden;
}
.app-header nav #dropdown-component .show-menu {
  top: 0 !important;
}
.app-header .logo:hover {
  transform: translateY(-50%) scale(0.95);
}
.app-header .url:hover {
  transform: scale(0.95);
}
.app-header nav #dropdown-component .menu-wrapper ul li a {
  text-decoration: none;
  display: block;
  color: $greyBlack;
  padding: 5px 0 5px 15px;
  box-sizing: border-box;
  text-transform: capitalize;
}
.app-header nav #dropdown-component .menu-wrapper ul li a:hover {
  background-color: $greyBlack;
  color: $yellowGold;
}
.category-menu {
  box-shadow: 1px 2px 5px 3px rgb(0 0 0 / 30%);
  grid-template-columns: 145px auto;
  background-color: $greyBlack;
  color: #eff3f6;
  font: normal 14px sans-serif;
  padding: 10px;
  line-height: 22px;
  overflow-y: auto;
  right: 40px;
  top: 50px;
  grid-gap: 10px;
  display: none;
}
.category-menu .sub-category,
.category-menu li {
  cursor: pointer;
}
.category-menu .sub-category a {
  color: $white;
  text-decoration: none;
}
.category-menu .category-list li {
  padding: 0 0 0 10px;
  list-style-type: none;
}
.category-menu .category-list li a {
  color: $white;
}
.code-preview {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);
  font: normal 12px/19px sans-serif;
  background-color: $oceanBlue;
  border: 1px solid $white;
  letter-spacing: 0.5px;
  margin: 20px 0;
  padding: 15px;
  color: $white;
  pre {
    overflow-x: auto;
  }
}
.contact-form {
  font: normal 14px sans-serif;
  background-color: $greyBlack;
  color: $yellowGold;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}
.contact-form .confirm {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  max-width: 400px;
  grid-column-gap: 20px;
}
.contact-form .confirm a {
  color: $yellowGold;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
.contact-form text-area {
  display: block;
}
.contact-form p {
  font: normal 15px sans-serif;
  margin-bottom: 10px;
  font-style: italic;
  line-height: 22px;
}
.contact-form label {
  margin-bottom: 5px;
  display: block;
}
.contact-form input {
  margin-bottom: 15px;
  display: block;
  max-width: 400px;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.contact-form #message {
  margin-bottom: 15px;
  max-width: 400px;
  padding: 5px 10px;
  box-sizing: border-box;
  font: normal 14px sans-serif;
  outline: none;
  border: none;
}
.contact-form button {
  padding: 5px 10px;
  display: block;
  color: $white;
  font: normal 15px sans-serif;
  border: 1px solid transparent;
  color: $greyBlack;
  background-color: $yellowGold;
}
.data-block {
  font: normal 14px sans-serif;
  cursor: pointer;
  position: relative;
}
.data-block p {
  background-color: $oceanBlue;
  color: $white;
  margin: 0;
  padding: 10px 0 10px 10px;
  font: normal 14px sans-serif;
  border-bottom: 1px solid $white;
}
.data-block .count {
  top: 0;
  right: 15px;
}
.data-block ul {
  list-style-type: none;
  background-color: $oceanBlue;
  padding: 0px;
  margin: 0;
  line-height: 25px;
  font-size: 14px;
}
.data-block li {
  display: grid;
  padding: 0 10px 0 10px;
  grid-template-areas: 'title title' 'code project';
  line-height: 25px;
}
.data-block .title {
  color: $white;
}
.data-block ul li div:not(:first-child) {
  font-style: italic;
}
.data-block a {
  color: $white;
  transition: color 0.3s;
}
.data-block a:hover {
  color: $yellowGold;
}
.data-block .code-samples li:not(:last-child) {
  margin-bottom: 10px;
}
.data-block .title {
  color: $white !important;
}
.displayBlock {
  display: block !important;
}
.element-shadow {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);
}
.full-project {
  padding-bottom: 25px;
}
.hidden-content {
  overflow: auto;
  max-height: 0;
  color: $white;
}
.mobile-menu {
  color: $white;
  cursor: pointer;
  font-size: 30px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.no-scroll {
  overflow: hidden;
}
p {
  font-family: Lato;
}
#mobile-menu {
  background-color: $greyBlack;
  height: calc(100% - 76px);
  left: calc(-100% - 15px);
  transition: left 0.2s;
  top: 51px;
  z-index: 1;
}
#mobile-menu nav {
  font: normal 20px sans-serif;
  color: $white;
  margin: 10px 0 0 20px;
  line-height: 35px;
}
#mobile-menu nav > div {
  outline: none;
  cursor: pointer;
}
#mobile-menu nav > div a {
  color: $white;
  text-decoration: none;
}
#mobile-menu nav ul {
  list-style-type: none;
}
#mobile-menu nav ul li {
  outline: none;
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}

.active-btn {
  color: $yellowGold;
  background-color: $greyBlack;
  cursor: pointer;
  display: flex;
  padding-left: 5px;
}

.project-specs {
  font: normal 13px sans-serif;
  float: right;
  display: grid;
  grid-column-gap: 10px;
  align-items: center;
}
.post-details {
  font: normal 13px sans-serif;
  margin-bottom: 20px;
  color: $greyBlack;
}
.post-details .top-row {
  overflow: auto;
  margin-bottom: 5px;
}
.post-details .top-row .git-repo {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  float: right;
}

.post-details .top-row .git-repo img {
  width: 50px;
}
.post-details .top-row .git-repo a {
  background-color: $oceanBlue;
  color: $white;
  padding: 4px 6px 5px 6px;
}
.post-details .bottom-row > div:first-child {
  float: left;
}
.post-details .bottom-row {
  overflow: auto;
}
.post-details .published-on,
.post-details .updated-on {
  transform: translateY(3px);
  font-weight: 600;
  display: inline-block;
}
.project-specs.three-column {
  grid-template-columns: repeat(3, auto);
}
.project-specs.two-column {
  grid-template-columns: repeat(2, auto);
}
.project-specs .stackblitz_logo {
  width: 14px;
  display: block;
}
.project-specs .stackblitz_logo img {
  width: 100%;
}
.project-specs .views,
.project-specs .forked {
  display: grid;
  grid-column-gap: 5px;
}
.project-specs .views img,
.project-specs .forked img {
  width: 100%;
  margin: auto;
}
.project-specs .view span,
.project-specs .forked span {
  margin: auto;
}
.project-specs .views {
  grid-template-columns: 19px auto;
}
.project-specs .forked {
  grid-template-columns: 12px auto;
}
.show-content {
  max-height: 250px !important;
}
.sidebar-elements {
  display: none;
}
.snippet-description {
  color: $greyBlack;
  font: normal 14px sans-serif;
  line-height: 22px;
}
.snippet-description ul {
  margin-left: 15px;
}
.snippet-description .italics {
  font-style: italic;
}
a.snippet-description,
.snippet-description a {
  color: $oceanBlue;
}
.snippet-description li span {
  color: $oceanBlue;
  text-decoration: underline;
  cursor: pointer;
}
#skills {
  list-style-type: unset;
  background-color: $greyBlack;
  display: grid;
  grid-template-columns: 50% 50%;
  line-height: 20px;
  padding: 20px 0 10px 30px;
}
#skills li {
  display: block;
  padding: 5px 10px 5px 0;
}

.visibility-none {
  visibility: hidden;
}
