<div class="right-column-cmp">
  <div class="contact-form element-shadow">
    <div
      id="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="mapOptions"
    ></div>
  </div>

  <div class="social-icons">
    <div *ngFor="let item of socials">
      <span (click)="navigateToPage(item.link)">
        <img [src]="item.src" alt="{{ item.altText }}" />
      </span>
    </div>
  </div>

  <div class="welcome element-shadow">
    <div class="bio-pic">
      <img src="assets/img/welcome-pic.jpg" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</div>
