<div
  class="notification"
  *ngIf="backButtonNotification"
  [ngClass]="{ 'display-notification': backButtonNotification }"
>
  <span>Please use internal back button.</span>
</div>
<div id="angular-spa">
  <div #headerComponent id="header">
    <app-header></app-header>
  </div>

  <div id="content">
    <div class="router-wrapper">
      <router-outlet></router-outlet>

      <app-loader></app-loader>

      <app-footer></app-footer>
    </div>
  </div>
  <div
    *ngIf="600 > width"
    id="mobile-menu"
    [ngClass]="{ 'show-mobile-nav': sidebarStatus }"
  >
    <nav (click)="closeMobileNav()">
      <div routerLink="/">
        <span class="mobile-item-count">{{ totalAll }}</span
        >All
      </div>

      <div
        routerLink="{{ configObject.categoryOne }}/{{
          configObject.categoryOne
        }}-classes"
      >
        <!-- <span class="mobile-item-count">{{ totalProjects }}</span> -->
        <span class="nav-name"> {{ configObject.categoryOne }}</span>
      </div>

      <div
        routerLink="{{ configObject.categoryTwo }}/{{
          configObject.categoryTwo
        }}-classes"
      >
        <!-- <span class="mobile-item-count">{{ totalComponennts }}</span> -->
        <span class="nav-name">{{ configObject.categoryTwo }}</span>
      </div>

      <div
        routerLink="{{ configObject.categoryThree }}/{{
          configObject.categoryThree
        }}-classes"
      >
        <!-- <span class="mobile-item-count">{{ totalDevelopment }}</span> -->
        <span class="nav-name">{{ configObject.categoryThree }}</span>
      </div>

      <!-- <div routerLink="front-end-dev-resume">Experience</div> -->
      <div routerLink="about-us">About</div>
    </nav>
  </div>
</div>
