<div class="routing-in-angular-text">
  <p>Products component via products module</p>
  <br />
  Fusce ut placerat orci nulla pellentesque. Maecenas sed enim ut sem viverra
  aliquet eget. Gravida quis blandit turpis cursus. Pharetra magna ac placerat
  vestibulum lectus mauris ultrices eros. Ornare arcu dui vivamus arcu. Amet
  luctus venenatis lectus magna fringilla urna porttitor rhoncus. Sit amet
  mauris commodo quis imperdiet massa tincidunt nunc. Commodo sed egestas
  egestas fringilla phasellus faucibus. Sed tempus urna et pharetra pharetra
  massa massa ultricies mi. Luctus accumsan tortor posuere ac ut. Et egestas
  quis ipsum suspendisse ultrices gravida dictum fusce ut. Dignissim sodales ut
  eu sem integer vitae. Egestas diam in arcu cursus euismod quis viverra nibh.
</div>
