<div class="page-intro">
  <div class="feature-img"></div>
  <div class="what-you-learn">
    <h2>What You'll Learn</h2>
    <ul class="project-list">
      <li>Lorem ipsum dolor.</li>
      <li>Elit, sed do eiusmod tempor incididunt ut labore.</li>
      <li>Et dolore magna aliqua. Ut enim ad minim veniam.</li>
      <li>Duis aute irure dolor in reprehenderit in.</li>
      <li>Excepteur sint occaecat cupidatat non proident.</li>
      <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>
      <li>Accusantium doloremque laudantium, totam rem aperiam.</li>
      <li>Quae ab illo inventore veritatis et quasi architecto beatae.</li>
      <li>Nemo enim ipsam voluptatem quia voluptas sit.</li>
      <li>Qui dolorem ipsum quia dolor sit amet, consectetur.</li>
      <li>Adipisci velit, sed quia non numquam eius modi tempora.</li>
      <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam.</li>
      <li>Quis autem vel eum iure reprehenderit qui in ea voluptate.</li>
    </ul>
  </div>
</div>
<p class="project-text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2>Is this Required for You?</h2>
<p class="project-text">
  Minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
  omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis
  aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
  molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
  ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
  doloribus asperiores repellat.
</p>

<p class="project-text element-margin-top">
  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
  praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
  excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
  officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
  quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
  soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
  placeat facere possimus.
</p>

<h2>Moving Forward</h2>
<p class="project-text">
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
  veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
  ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
  porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
  dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
  nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
  ea commodi consequatur?
</p>
