<!-- <style>
  .tools-panel {
    background-color: red;
    position: fixed;
    width: 250px;
    height: calc(100vh - 180px);
  }

  .page-content .three-column-layout,
  .page-content .two-column-layout {
    width: calc(100% - 270px);
    float: right;
  }
</style> -->

<div class="page-content">
  <div class="details" (click)="pageClickHandler($event)">
    <app-back-button-navigation></app-back-button-navigation>
    <h1 class="page-title">{{ pageTitle }}</h1>

    <app-post-details
      *ngIf="pageTitle != 'Front End Development' && windowWidth > 1199"
    ></app-post-details>

    <app-category-navigation
      *ngIf="windowWidth > 605"
      [categoryType]="'projects'"
    ></app-category-navigation>
  </div>

  <!-- <div class="tools-panel"></div> -->

  <main
    [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'"
    (click)="pageClickHandler($event)"
  >
    <div class="left-column">
      <router-outlet></router-outlet>
      <app-post-details
        *ngIf="pageTitle != 'Front End Development' && windowWidth < 1200"
      ></app-post-details>
      <app-end-of-post></app-end-of-post>
    </div>

    <div class="middle-column" *ngIf="threeColumnLayout">
      <app-related-components [type]="'projects'"></app-related-components>
    </div>

    <div class="right-column" (click)="pageClickHandler($event)">
      <app-right-column></app-right-column>
    </div>
  </main>
</div>
