<div class="page-content">

    <div class="details" (click)="pageClickHandler($event)">
        <h1 class="page-title">{{pageTitle}}</h1>
        <app-category-navigation *ngIf="windowWidth > 650"></app-category-navigation>
    </div>

    <main [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'"
        (click)="pageClickHandler($event)">

        <div class="left-column">
            <app-post-details *ngIf="threeColumnLayout"></app-post-details>
            <router-outlet></router-outlet>
        </div>

        <div class="middle-column" *ngIf="threeColumnLayout">
            <app-related-components [dataArray]="appsArray"></app-related-components>
        </div>

        <div class="right-column" (click)="pageClickHandler($event)">
            <app-right-column></app-right-column>
        </div>

    </main>
</div>