<div class="snippet-description">
  Not long ago I was tasked with creating a complex JavaScript drag and drop UI.
  One in which users gave users the ability to move multiple items at once. This
  was a feature I'd never done prior. And this was a project I was the lead
  frontend developer for. Additionally, the client was the United States Senate.
  Not only would members of Congress be using a UI I created, but every mouse or
  hand gesture was a POST request.<br /><br />Most of which is irrelevant. I'm a
  developer, and therefore need to ensure that whatever I build, works
  flawlessly for whoever it's regardless of the client. I wanted to be 100%
  prepared for the upcoming task. In turn, I created this UI. Though far from
  exact, it demonstrates creative drag abilities via JSON content.
  <a href="https://drag-and-drop-javascript.stackblitz.io/" target="_blank"
    >Working demo here.</a
  >
  Code analysis below.<br /><br />
</div>

<div class="js-drag-drop element-shadow">
  <img src="assets/projects-grid/js-drag-drop.jpg" />
</div>

<div class="snippet-description item-margin">
  Let's begin with the data. Though this is in Angular, it could very well be
  isolated to just vanilla JavaScript with an index.html and script file. Don't
  be deterred simply because you may be most comfortable in React or Vue. This
  is the data that populates the UI.
</div>
<div class="code-preview">
  <pre>
		    <code>{{json}}</code>
	    </pre>
</div>

<div class="snippet-description item-margin">
  Create an interface of the data.
</div>
<div class="code-preview">
  <pre>
		    <code>{{interface}}</code>
	    </pre>
</div>

<div class="snippet-description item-margin">
  app.component.ts
  <ul>
    <li>
      items is an array of objects. Later down it's used like so:
      {{ snippetOne }}. This is a group reference. If we created two directories
      named colors and cities, items would look like this: {{ snippetTwo }}.
    </li>
    <li>
      groupItem is the same thing, but for a new group item. In the event we'd
      like to add a new value to the UI. A value we'd like to then drag
      somewhere. Enter something in that field, and it'll appear as list value
      to be dragged.
    </li>
    <li>
      groupIndex on the other hand is the unsortedItems array indice. Picking up
      Honda would make the groupIndex 1. Dragging Orange, groupIndex is 0.
      Dragging blue, groupIndex is 3.
    </li>
    <li>result holds the incoming JSON data.</li>
    <li>
      uploadedCount signifies how the elements are currently "uploaded".
      Afterall, this JavaScript drag and drop is a mock file uploader. This
      array contains references to the elements in each "directory".
    </li>
    <li>
      itemTitle is the value: {{ snippetThree }} shows how it's being used.
    </li>
    <li>
      itemName is a value that's captured from the template via ngModel. It's a
      banana in a boat [()] meaning two way data binding. In turn, when a
      value's entered in the 'Add Group Name' field, it flows to the model.
    </li>
    <li>
      addNewItem is an array of list category references. {{ snippetFour }}.
      These are the lists of draggable items. When they're being dragged, they
      become {{ snippetFive }}
    </li>
    <li>
      itemIndex helps to determine which named item was moved from the items
      array.
    </li>
    <li>
      namedElements is an array of HTML elements housed in each "directory".
    </li>
    <li>
      directoryElements is an array of "directory" drop zones. When we drag,
      directoryElements sends up a flag saying, "hey, these are the available
      drop zones."
    </li>
    <li>draggedItem is the raw text of the current item being dragged.</li>
    <li>draggedElement is the HTML element in full.</li>
  </ul>
</div>
<div class="code-preview">
  <pre>
		<code>{{typescript}}</code>
	</pre>
</div>

<div class="snippet-description item-margin">app.component.scss</div>
<div class="code-preview">
  <pre>
		    <code>{{scss}}</code>
	    </pre>
</div>

<br />
<div class="snippet-description item-last-child">
  There's no way around it. If you're creating a UI like this without a library,
  it's gonna be complex. Plus, factoring in POST requests at every drop like my
  project called for... Though many would advocate using a library, I try to
  avoid using libs whenever possible. Especially if it calls for custom
  solutions. You'll spend more time trying to get the lib to mimic the intended
  behavior vs creating a system of your own.<br /><br />This could no doubt be
  improved with more specified data types, but time was of the essence when I
  built a low-fi mock. One in which to emulate an actual feature in a
  proprietary application. If you need a working version of this JavaScript drag
  and drop UI, see the demo
  <a
    href="https://stackblitz.com/edit/drag-and-drop-javascript?file=src%2Fapp%2Fapp.component.ts"
    target="_blank"
    >here</a
  >.
</div>
