#about-page {
  max-width: 750px;
  margin: 30px auto 0 auto;
  color: #313b3f;

  .about {
    .about-pic {
      width: 200px;
      border-radius: 6px;
      overflow: hidden;
      margin: 3px 0 13px 0;
      float: left;
      margin-right: 20px;
      box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.3);

      img {
        width: 100%;
        display: block;
      }
    }

    p {
      font: normal 14px sans-serif;
      line-height: 22px;
      margin: 10px 0;
    }

    .paragraph-link {
      color: #d9a74a;
      border-radius: 4px;
      position: relative;
    }
  }
}

@media screen and (max-width: 800px) {
  #about-page {
    margin: 30px 20px 0 20px;
  }
}

@media screen and (max-width: 500px) {
  #about-page {
    .about {
      .about-pic {
        width: 150px;
      }
    }
  }
}
