<div class="page-content">
    <div class="details">
        <h1 class="page-title">Frontend Developer</h1>
    </div>
    <main class="two-column-layout">
        <div class="left-column">
            <div id="about-page">
                <div class="about">
                    <div class="about-pic">
                        <img src="../../../../../assets/img/about-photo.jpg" />
                    </div>
                    <p>In 2006 I began advertising my services as a rookie graphic designer on Craigslist. Twelve years
                        later I was
                        working on a cutting edge SaaS product for the United States Senate. From 2018 - 2021 I was a
                        Sr. UI
                        Developer on Capitol Hill. I currently work remotely for one of the nation's largest banks.</p>

                    <p>My contracting experience with literally hundreds of companies has taught me a variety of things.
                        One in
                        particular &mdash; how to get things done. I've always taken the initiative. I've built a
                        reputation for
                        over delivering. Someone that plans and is very systematic. It's the programmer mindset.
                    </p>

                    <p>Circa 2017 I began using <a class="paragraph-link"
                            href="https://codepen.io/eastcoastdeveloper/pens/popular" target="_blank">Codepen</a> to
                        mock frontend features. Now I have nice little
                        collection. Then I began using <a class="paragraph-link"
                            href="https://stackblitz.com/@eastcoastdeveloper" target="_blank">Stackblitz</a> for trial
                        and error. Hundreds of people have forked a variety
                        of these projects. Some of which are now in <a class="paragraph-link"
                            href="https://github.com/eastcoastdeveloper?tab=repositories" target="_blank">Git</a></p>

                    <p>Taking the initiative has also led me on a path of discovery. Knowing who to ask for missing
                        pieces. Then
                        following those leads as far as they go. Collaborating with a variety of developers and
                        stakeholders; with a
                        thorough understanding of the development and design process, I always have questions. Questions
                        that
                        enhance team discussion and meeting participation.</p>

                    <p>I've made leaps and bounds over the years. Graphic design to motion graphics. Static web pages
                        and massive
                        interactive ad campaigns to single page applications. Joomla, Drupal, and Wordpress to complex
                        UIs with
                        hundreds of components&mdash;all communicating with one another. Now, I write unit tests, work
                        with Java,
                        Spring, Docker, and Kubernetes.</p>

                    <p>Beyond work, I make time to do what I love. Photography, traveling, and spending time outdoors. I
                        enjoy
                        cruising around Newport and Huntington Beach on my silent but quick, electric scooter. I post my
                        photos on
                        <a class="paragraph-link" href="https://flickr.com/photos/nodulldays/"
                            target="_blank">Flickr</a> and always
                        thinking about my next travel adventure.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-column">
            <app-right-column></app-right-column>
        </div>
    </main>
</div>