<div class="page-content">
  <div class="details">
    <app-back-button-navigation></app-back-button-navigation>
    <h1 class="page-title">Frontend Developer</h1>
  </div>
  <main class="single-column-layout">
    <div class="about-pic">
      <img [src]="aboutPicture" alt="professional photo of Eric" />
    </div>
    <p>
      In 2006 I began advertising my services as a rookie graphic designer on
      Craigslist. Twelve years later I was working on a cutting edge SaaS
      product for the United States Senate. From 2018 - 2021 I was a Sr. UI
      Developer on Capitol Hill. I currently work remotely for one of the
      nation's largest banks.
    </p>

    <p class="element-margin-top">
      My contracting experience with literally hundreds of companies has taught
      me a variety of things. One in particular &mdash; how to get things done.
      I've always taken the initiative. I've built a reputation for over
      delivering. Someone that plans and is very systematic. It's the programmer
      mindset.
    </p>

    <p class="element-margin-top">
      Taking the initiative has also led me on a path of discovery. Knowing who
      to ask for missing pieces. Then following those leads as far as they go.
      Collaborating with a variety of developers and stakeholders; with a
      thorough understanding of the development and design process, I always
      have questions. Questions that enhance team discussion and meeting
      participation.
    </p>

    <p class="element-margin-top">
      I've made leaps and bounds over the years. Graphic design to motion
      graphics. Static web pages and vast interactive ad campaigns to single
      page applications. CMS solutions to data driven UIs with hundreds of
      components&mdash;all communicating with one another. Now, I write unit
      tests, work with Spring, Node JS, and Mongo.
    </p>

    <p class="element-margin-top">
      Beyond work, I make time to do what I love. Photography, traveling, and
      spending time outdoors. I enjoy cruising around Newport and Huntington
      Beach on my silent but quick, electric scooter. I post my photos on
      <a
        class="paragraph-link"
        href="https://flickr.com/photos/nodulldays/"
        target="_blank"
        >Flickr</a
      >
      and always thinking about my next travel adventure.
    </p>

    <div class="endeavors-wrapper element-shadow">
      <h2>Personal Endeavors</h2>
      <ul class="personal-projects">
        <li>
          <h5 class="topic">FrontendDevelopment.tech</h5>
          <p>
            Develop a sizable, and rapidly growing Angular app with many dozens
            of components, modules, services, and reactive data flow paradigms.
            Built to resemble Wordpress in many ways.
          </p>
        </li>
        <li>
          <h5 class="topic">Technologist Blog</h5>
          <p>
            Circa 2019, after reading an onslaught of tech books, I started a
            blog. I write about AI, Online Privacy, and Security. You can read
            my essays here:
            <span (click)="navigateToPage(urlBlog)" class="external-link"
              >FredrickJaxx</span
            >
          </p>
        </li>
        <li>
          <h5 class="topic">MEAN Stack App in Progress</h5>
          <p>
            Currently building an app with a login, image uploader, and
            commenting. In turn, giving users the ability to edit their
            comments, and an admin to approve/ upload content.
          </p>
        </li>
        <li>
          <h5 class="topic">Soon to be Published Tech Author</h5>
          <p>
            I'm currently working on two books. Both of which are slated for
            publication this year. Topics range from software to security.
          </p>
        </li>

        <li>
          <h5 class="topic">Avid Reader</h5>
          <p>
            Though I read a wide array of books, many of them are
            <span class="external-link" (click)="navigateToPage(urlBookList)"
              >tech based.</span
            >
            Reading about cybersecurity has pushed me to learn and implement as
            many security features as I can.
          </p>
        </li>
      </ul>
    </div>
  </main>
</div>
