<div class="right-column-cmp">
  <div class="contact-form element-shadow">
    <p>Subscribe to get new projects!</p>
    <form action="https://submit-form.com/jHAoxlLO">
      <input
        type="hidden"
        name="_redirect"
        value="https://frontenddevelopment.tech/form-confirmation"
      />

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email address"
        required=""
      />
      <button type="submit">Send</button>
    </form>
  </div>

  <div class="social-icons">
    <div *ngFor="let item of socials">
      <span (click)="navigateToPage(item.link)">
        <img [src]="item.src" alt="{{ item.altText }}" />
      </span>
    </div>
  </div>

  <div class="welcome element-shadow">
    <div class="bio-pic">
      <img src="../../../assets/img/welcome-pic.png" />
    </div>
    <p>
      Welcome! This website is a collection of projects and features I've built
      indicative of real world development. Others are simply things I've
      created for practice and to further my dev skills. Regardless, I hope you
      find these items helpful or inspirational in your development endeavors.
      If you have questions/ comments, please contact me via the contact form.
      Thank you, and have a wonderful day.
    </p>
  </div>
</div>
