@import '../../styles/accordion.scss';

.right-column-cmp {
  display: grid;
  position: fixed;
  width: 300px;
  grid-template-areas:
    'signup'
    'social'
    'code';
  > div:first-child {
    grid-area: signup;
    width: 100%;
    box-sizing: border-box;
  }
  .social-icons {
    display: grid;
    grid-area: social;
    grid-template-columns: repeat(2, calc(50% - 10px));
    margin: 20px auto;
    grid-gap: 20px;

    > div {
      text-align: center;
      display: flex;
      a {
        margin: auto;
        max-width: 130px;
        img {
          width: 100%;
        }
      }
    }
  }

  .accordion-wrapper {
    .data-block .show-content {
      max-height: 150px !important;
    }
    .code-samples li {
      > div:first-child {
        grid-area: title;
      }
      > div:nth-child(2) a {
        grid-area: code;
      }
      div:last-child a {
        grid-area: project;
      }
      > div:last-child {
        grid-area: code;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .two-column-layout {
    position: fixed !important;
    width: 300px !important;
    grid-template-columns: none !important;
    grid-template-areas:
      'signup'
      'social'
      'code' !important;

    .social-icons {
      width: 275px !important;
      grid-template-columns: repeat(2, calc(50% - 8px)) !important;
    }
  }
  .right-column-cmp {
    position: unset;
    grid-template-columns: repeat(2, calc(50% - 10px));
    width: 100%;
    grid-template-areas:
      'social social'
      'signup code';
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    > div:first-child {
      max-width: unset;
    }
    .social-icons {
      width: 100%;
      grid-template-columns: repeat(3, calc(33.3% - 13px));
    }
  }
  .social-icons {
    grid-gap: 0;
    width: 100%;
  }

  .right-column-cmp .social-icons {
    margin: 0 auto 30px auto;
  }
}

@media screen and (max-width: 768px) {
  .right-column-cmp {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-template-areas: 'social social' 'signup code';
    grid-column-gap: 20px;
    display: grid;
    height: unset;
    .contact-form {
      box-sizing: border-box;
      max-width: none;
      width: 100%;
    }
    .accordion-wrapper {
      margin: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .right-column-cmp {
    grid-template-areas: 'social' 'signup' 'code';
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    .social-icons {
      grid-template-columns: repeat(2, auto);
      grid-gap: 20px;
    }
  }
}
