<div class="right-column-cmp">
  <div class="contact-form element-shadow">
    <p>Subscribe to get new projects!</p>
    <form action="https://submit-form.com/jHAoxlLO">
      <input
        type="hidden"
        name="_redirect"
        value="https://frontenddevelopment.tech/form-confirmation"
      />

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email address"
        required=""
      />
      <button type="submit">Send</button>
    </form>
  </div>

  <div class="social-icons">
    <div>
      <a href="https://stackblitz.com/@eastcoastdeveloper" target="_blank">
        <img class="stackblitz" src="../../../assets/img/logo_stackblitz.png" />
      </a>
    </div>
    <div>
      <a
        href="https://codepen.io/eastcoastdeveloper/pens/popular?grid_type=list"
        target="_blank"
      >
        <img src="../../../assets/img/logo_codepen.png" />
      </a>
    </div>
    <div>
      <a
        href="https://github.com/eastcoastdeveloper?tab=repositories"
        target="_blank"
      >
        <img src="../../../assets/img/logo_git.png" />
      </a>
    </div>
    <div>
      <a href="https://flickr.com/photos/nodulldays/" target="_blank">
        <img src="../../../assets/img/logo_flickr.png" />
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/nodulldayz/" target="_blank">
        <img src="../../../assets/img/logo_instagram.png" />
      </a>
    </div>
    <div>
      <a href="https://fredrickjaxx.is/" target="_blank">
        <img src="../../../assets/img/logo_FJ.png" />
      </a>
    </div>
  </div>

  <div #accordionParent class="accordion-wrapper element-shadow">
    <div class="data-block">
      <p>Code Samples</p>
      <div class="hidden-content show-content">
        <ul class="code-samples">
          <li *ngFor="let listElems of accordionData; let j = index">
            <div class="title">
              {{ listElems.title }}
            </div>
            <div>
              <a href="{{ listElems.code }}" target="_blank">code</a>
            </div>
            <div *ngIf="listElems.viewProject != null">
              <a href="{{ listElems.viewProject }}" target="_blank"
                >view project</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
