@import '../../../styles/page-style.scss';

.calculator-wrapper {
  grid-template-rows: minmax(85px, auto) repeat(5, 70px);
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  grid-template-columns: repeat(4, 25%);
  justify-content: center;
  font-family: sans-serif;
  box-sizing: border-box;
  align-content: center;
  border-radius: 4px;
  overflow: hidden;
  display: grid;

  .output {
    grid-column: 1/ -1;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    background-color: $greyBlack;
    color: $white;

    .equation {
      font-size: 1.5rem;
      font-weight: 100;
    }

    .result {
      font-size: 2rem;
    }
  }

  .disable-btn {
    pointer-events: none;
    opacity: 0.3;
  }

  .double-width {
    grid-column: span 2;
  }

  button {
    border-radius: 0;
    outline: none;
    border: 1px solid rgba(256, 256, 256, 0.75);
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: $white;
    }
  }
}
