<div class="page-content">
  <div class="details">
    <app-back-button-navigation></app-back-button-navigation>
    <h1 class="page-title">Experience</h1>
  </div>
  <main id="experience" class="single-column-layout">
    <div class="skillset">
      <div>
        <span>Languages</span>
        <p>HTML5, CSS, Saas, JavaScript, & TypeScript</p>
      </div>
      <div>
        <span>Testing</span>
        <p>Jasmine, Cucumber, & Playwright</p>
      </div>
      <div>
        <span>Libraries</span>
        <p>ChartJS & RxJS</p>
      </div>
      <div>
        <span>Frameworks</span>
        <p>Angular, Express, Mongoose, & Spring</p>
      </div>
      <div>
        <span>Other</span>
        <p>
          Node.js, Mongo, Jira, Git, Gitlab, Sketch, Photoshop, & Illustrator
        </p>
      </div>
    </div>
    <div class="history-block">
      <div class="employer-history">
        <h4>Frontend Dev</h4>
        <span>6/2021 - present</span>
        <h6>Creator</h6>
        <span>Portfolio</span>
      </div>
      <ul class="job-description">
        <li>
          Create an immense, keyword rich website w/ dozens of components,
          services, templates, & projects.
        </li>
        <li>
          Build a robust caching engine that limits requests&mdash;rapidly
          loading page content.
        </li>
        <li>
          Develop a reactive system of data flow via RxJS w/ smart & dumb
          components. Permitting me to easily add & modify new/ existing
          features. Indicative of a highly modular app.
        </li>
        <li>
          Upgrade framework numerous times, rewrite breaking changes, & harness
          new version features.
        </li>
        <li>
          Optimize the site & score over 90% w/ Google Speed, Performance, & SEO
          tests.
        </li>
      </ul>
    </div>
    <div class="history-block">
      <div class="employer-history">
        <h4>M&T Bank</h4>
        <span>11/2021 - present</span>
        <h6>Developer</h6>
        <span>Remote Contract</span>
      </div>
      <ul class="job-description">
        <li>Lead refactoring efforts to improve endpoint & UI performance.</li>
        <li>Develop numerous features & write Confluence documentation.</li>
        <li>
          Design technical diagrams based on extensive Jira research spikes.
        </li>
        <li>Create Jasmine, Cucumber, & Playwright tests.</li>
        <li>
          Conduct demos on video calls w/ hundreds of people & volunteer for hot
          topic presentations at dev meetings.
        </li>
        <li>Troubleshoot pipeline failures.</li>
        <li>
          Work in combination w/ numerous developers & stakeholders to overhaul
          the bank's login system.
        </li>
        <li>Assist coworkers w/ Jira tickets & merge requests.</li>
        <li>
          Always an active participant in dev related meetings such Sprint
          Retros. Assisting w/ direction & potential blockers.
        </li>
        <li>Rudimentary C# experience.</li>
      </ul>
    </div>

    <div class="history-block">
      <div class="employer-history">
        <h4>Conseqta</h4>
        <span>8/2018 - 7/2021</span>
        <h6>Lead UI Developer</h6>
        <span>Capitol Hill, Washington DC</span>
      </div>
      <ul class="job-description">
        <li>
          Develop intricate data driven features for the Senate&#39;s Financial
          System. Some ad-hoc, others via mocks.
        </li>
        <li>A core asset during prod support & deployment.</li>
        <li>
          Meet w/ SAA representatives, members of Congress, & numerous other
          stakeholders.
        </li>
        <li>Create the company website & score 100% on a Google Speed Test.</li>
        <li>Develop applications for SaaS products.</li>
        <li>
          Manage small teams of developers & designers, create data structures,
          & work w/ QA testers.
        </li>
        <li>Develop a library of over 100 Angular components.</li>
        <li>
          Work to improve processes via Project Managers & Business Analysts.
        </li>
      </ul>
    </div>

    <div class="history-block">
      <div class="contracts">
        <div class="employer-history">
          <h4>Recruiting Firms</h4>
          <span>10/2013 - 8/2018</span>
          <h6>Frontend Developer & Sr. Designer</h6>
          <span>Contractor</span>
        </div>
      </div>
      <table>
        <tbody>
          <tr>
            <td>Viking Cruises</td>
            <td>
              Develop a mighty concept SPA, custom CMS work, & rich media w/
              DoubleClick.
            </td>
          </tr>
          <tr>
            <td>The Los Angeles Times</td>
            <td>Develop features for latimes.com</td>
          </tr>
          <tr>
            <td>Mad Catz</td>
            <td>Develop features for madcatz.com.</td>
          </tr>
          <tr>
            <td>The Honest Company</td>
            <td>Develop features for honest.com.</td>
          </tr>
          <tr>
            <td>Prudential</td>
            <td>
              Develop a &#39;Choose Your Own Adventure&#39; financial planning
              app.
            </td>
          </tr>
          <tr>
            <td>Wells Fargo</td>
            <td>Develop websites for real estate properties.</td>
          </tr>
          <tr>
            <td>Lionsgate</td>
            <td>Develop mobile apps for ad campaigns.</td>
          </tr>
          <tr>
            <td>RevHealth Agency</td>
            <td>Rich Media Developer for Pfizer, Merck, Johnson & Johnson.</td>
          </tr>
          <tr>
            <td>O&K Reach</td>
            <td>
              Develop a SPA for FireEye Cybersecurity. Multimedia for Epson, HP,
              & The World Cup;
            </td>
          </tr>
          <tr>
            <td>TVG Betfair</td>
            <td>Develop features for kentuckyderby.com</td>
          </tr>
          <tr>
            <td>EA Games</td>
            <td>
              Graphic designer for 'The Need for Speed' & JavaScript Developer
              for iTunes projects.
            </td>
          </tr>
          <tr>
            <td>KB Home</td>
            <td>Develop features for kbhome.com</td>
          </tr>
          <tr>
            <td>Arsonal Agency</td>
            <td>Sr. Designer for HBO & Showtime rich media.</td>
          </tr>
          <tr>
            <td>Innocean Worldwide Agency</td>
            <td>Develop features for hyundai.com</td>
          </tr>
          <tr>
            <td>TBWA/Chiat Day</td>
            <td>
              Convert video animated album covers to JavaScript animations.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="history-block">
      <div class="employer-history">
        <h4>Health Net</h4>
        <span>9/2010 - 9/2013</span>
        <h6>Multimedia Specialist</h6>
        <span>Woodland Hills, CA</span>
      </div>
      <ul class="job-description">
        <li>Create & run the multimedia department.</li>
        <li>
          Develop a library of web components & a whopping collection of digital
          products.
        </li>
        <li>
          Build After Effects videos for health plans, contribute to
          healthnet.com, & oversee all multimedia related projects.
        </li>
        <li>
          Lead meetings, pitch ad campaign concepts, work w/ legal teams,
          copywriters, designers, & numerous departments.
        </li>
      </ul>
    </div>
  </main>
</div>
