@import '../../styles/page-style.scss';

#experience {
  .skillset {
    font: normal 14px sans-serif;
    line-height: 25px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-gap: 15px;
    > div {
      span {
        display: block;
        font-weight: 600;
      }
    }
    > div:last-child {
      grid-column: span 2;
    }
  }

  h4 {
    font: bold 16px sans-serif;
  }

  .employer-history {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 5px;

    h6 {
      font: bold 14px sans-serif;
    }

    span {
      font: normal 14px sans-serif;
      text-align: right;
    }
  }

  .history-block {
    margin-top: 25px;

    .job-description {
      font: normal 14px sans-serif;
      list-style-type: disc;
      line-height: 25px;
      margin-top: 10px;
      padding-left: 20px;

      li {
        span {
          font-weight: 100;
        }
      }
    }

    table {
      font: normal 14px sans-serif;
      margin-top: 10px;
      line-height: 25px;
      border-collapse: collapse;
      width: 100%;

      tr td:last-child {
        padding-left: 15px;
      }

      tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);

        td:first-child {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
        }

        td:last-child {
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }

      tr {
        td {
          padding: 5px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #experience {
    .history-block {
      .job-description {
        list-style-type: none;
        padding-left: 0;
        > li:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 4px;
        }
        > li {
          padding: 5px 10px;
          line-height: 22px;
        }
      }
    }
    .skillset {
      grid-template-columns: 100%;
      line-height: 22px;
      grid-gap: 0;
      > div {
        padding: 5px 10px;
      }
      > div:last-child {
        grid-column: auto;
      }
      > div:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
    }
  }
}
