<div class="page-content">
  <div class="details">
    <h1 class="page-title">Experience</h1>
  </div>
  <main class="two-column-layout">
    <div class="left-column">
      <div id="experience-page">
        <p class="skills">
          HTML5, CSS, Sass, JavaScript, TypeScript, AngularJS, Angular 2+, RxJs,
          ExpressJS, Chart.js, Jasmine, GitHub, GitLab, Jira, RESTful
          Interfaces, Responsive Web Dev, UI/UX Design, Data Visualizations,
          Photoshop, & Illustrator. Lead small teams;
        </p>
        <!-- <div class="history-block">
          <div class="employer-history">
            <h4>Frontend Dev Dot Tech</h4>
            <span>6/2021 - present</span>
            <h6>Full Stack Developer</h6>
            <span>Portfolio</span>
          </div>
          <ul class="job-description" *ngIf="windowWidth > 900">
            <li>
              Create a massive, keyword rich, Angular app. w/ dozens of
              components, services, templates, & projects
            </li>
            <li>
              Upgrade from Angular 10 - 15, rewrite breaking changes, & harness
              new version features
            </li>
            <li>
              Architect an ExpressJS backend w/ over a dozen APIs & routes
            </li>
            <li>
              Optimize the site & score over 90% w/ Google Speed, Performance, &
              SEO tests
            </li>
            <li>
              Build a caching system that limits server pings for paginated
              pages & APIs
            </li>
            <li>
              Develop a MEAN stack website w/ commenting, login, upload
              abilities, & user permissions
            </li>
          </ul>
          <div class="job-description" *ngIf="windowWidth < 901">
            Create a massive, keyword rich, Angular app w/ dozens of components,
            services, templates, & projects. Upgrade from Angular 10 - 15,
            rewrite breaking changes while harnessing new version features.
            Architect an Express backend w/ over a dozen APIs & routes. Optimize
            the site & score over 90% w/ Google Speed, Performance, & SEO tests.
            Build a caching system, limiting server pings for paginated pages &
            APIs. Develop a MEAN stack website w/ commenting, login, upload
            abilities, and user permissions.
          </div>
        </div>
        <div class="history-block">
          <div class="employer-history">
            <h4>M&T Bank</h4>
            <span>11/2021 - present</span>
            <h6>Full Stack Developer</h6>
            <span>Remote Contract</span>
          </div>
          <ul class="job-description" *ngIf="windowWidth > 900">
            <li>
              Develop Angular features followed by extensive documentation
            </li>
            <li>
              Lead refactoring efforts to improve endpoint & UI performance
            </li>
            <li>
              Troubleshoot & modify pipeline failures & additions respectively
            </li>
            <li>Write Jasmine unit tests for an array of Angular features</li>
            <li>
              Conduct technical demos on video calls w/ nearly 200 people & do a
              number of hot topic presentations
            </li>
            <li>Always an active participant in dev related meetings</li>
          </ul>
          <div class="job-description" *ngIf="windowWidth < 901">
            Write an onslaught of unit tests in Jasmine for an array of Angular
            features. Angular development and code documentation; being an
            active participant in team discussions and meetings, I inspired
            others to join conversations.
          </div>
        </div> -->

        <div class="history-block">
          <div class="employer-history">
            <h4>Conseqta</h4>
            <span>8/2018 - 7/2021</span>
            <h6>UI Developer</h6>
            <span>Capitol Hill, Washington DC</span>
          </div>
          <ul class="job-description" *ngIf="windowWidth > 900">
            <li>
              Lead UI Developer for the Senate&#39;s Financial Mgmt Information
              System (FMIS)—from new features to prod support
            </li>
            <li>
              Meet w/ SAA representatives, members of Congress, & numerous other
              stakeholders to design/develop full stack features
            </li>
            <li>
              Develop data driven, responsive features for the US Senate w/
              Angular JS/Angular/NodeJS
            </li>
            <li>
              Create the company website & score 100% on a Google Speed Test
            </li>
            <li>
              Develop other responsive websites/SPAs for Saas products w/
              Angular & vanilla JavaScript/TypeScript
            </li>
            <li>
              Manage small teams of developers & designers, create data
              structures for backend devs, & work w/ QA testers
            </li>
            <li>
              Develop a library of over 100 Angular 2+ components & dozens of
              AngularJS components
            </li>
            <li>
              Translate dozens of high fidelity mockups into data driven
              content, create UIs, & work to improve processes via PMs & BAs
            </li>
          </ul>
          <div class="job-description" *ngIf="windowWidth < 901">
            As the lead UI Developer for the Senate&#39;s Financial Mgmt
            Information System (FMIS), I was responsible for new features and
            prod support. I met with SAA representatives, members of Congress,
            and numerous other stakeholders to design/develop responsive, data
            driven UIs. My daily stack was AngularJS, Angular, ChartJS, D3, and
            NodeJS. Additionally, I created the company website and scored a
            100% on Google's speed test. When the company needed to pursue new
            clients, I was the one building their frontend Saas products. I
            managed small teams of developers and designers, created data
            structures that APIs were based on. I collaborated regularly with
            backend devs and QA testers. When our Angular apps grew, I developed
            a massive library of components. Translated many dozens of high
            fidelity mockups into data driven UIs;
          </div>
        </div>

        <div class="history-block" *ngIf="windowWidth > 900">
          <div class="contracts">
            <div class="employer-history">
              <h4>
                Aquent Creative, Creative Circle, & Robert Half Technology
              </h4>
              <span>10/2013 - 8/2018</span>
              <h6>Frontend Developer & Sr. Designer</h6>
              <span>Contractor</span>
            </div>
          </div>
          <table>
            <tbody>
              <tr>
                <td>Viking Cruises</td>
                <td>
                  &#8227; Develop a massive concept SPA, custom CMS work, rich
                  media templates, w/ DoubleClick
                </td>
              </tr>
              <tr>
                <td>The Los Angeles Times</td>
                <td>&#8227; LosAngelesTimes.com Developer</td>
              </tr>
              <tr>
                <td>Mad Catz</td>
                <td>&#8227; MadCatz.com Developer</td>
              </tr>
              <tr>
                <td>The Honest Company</td>
                <td>&#8227; CMS Developer</td>
              </tr>
              <tr>
                <td>Prudential Financial</td>
                <td>
                  &#8227; Develop an innovative &#39;Choose Your Own
                  Adventure&#39; financial planning application
                </td>
              </tr>
              <tr>
                <td>Wells Fargo</td>
                <td>&#8227; Develop websites for real estate properties</td>
              </tr>
              <tr>
                <td>Lionsgate</td>
                <td>&#8227; Develop mobile apps for ad campaigns</td>
              </tr>
              <tr>
                <td>RevHealth Agency</td>
                <td>
                  &#8227; Developer for health care companies (Pfizer, Merck,
                  Johnson & Johnson)
                </td>
              </tr>
              <tr>
                <td>O&K Reach</td>
                <td>
                  &#8227; Develop a SPA for FireEye Cybersecurity & multimedia
                  for Epson, HP, & the World Cup
                </td>
              </tr>
              <tr>
                <td>TVG Betfair</td>
                <td>&#8227; KentuckyDerby.com Developer</td>
              </tr>
              <tr>
                <td>Electronic Arts (EA Games)</td>
                <td>&#8227; Design games scenes for 'The Need for Speed'</td>
              </tr>
              <tr>
                <td>KB Home</td>
                <td>&#8227; KBHome.com Developer</td>
              </tr>
              <tr>
                <td>Arsonal Agency</td>
                <td>&#8227; Sr. Designer for HBO & Showtime</td>
              </tr>
              <tr>
                <td>Innocean Worldwide Agency</td>
                <td>&#8227; Hyundai.com Developer</td>
              </tr>
              <tr>
                <td>TBWA/Chiat Day</td>
                <td>&#8227; iTunes Developer</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="history-block" *ngIf="windowWidth < 901">
          <div class="contracts">
            <div class="employer-history">
              <h4>Tech Agencies</h4>
              <span>10/2013 - 8/2018</span>
              <h6>Frontend Developer & Sr. Designer</h6>
              <span>Contractor</span>
            </div>
          </div>
          <div class="mobile-contracts">
            <table>
              <tbody>
                <tr>
                  <td>SPA Developer at Viking Cruises</td>
                </tr>
                <tr>
                  <td>LosAngelesTimes.com Developer</td>
                </tr>
                <tr>
                  <td>MadCatz.com Developer</td>
                </tr>
                <tr>
                  <td>Epson.com Developer</td>
                </tr>
                <tr>
                  <td>KentuckyDerby.com Developer</td>
                </tr>
                <tr>
                  <td>KBHome.com Developer</td>
                </tr>
                <tr>
                  <td>Hyundai.com Developer</td>
                </tr>
                <tr>
                  <td>CMS Developer at The Honest Company</td>
                </tr>
                <tr>
                  <td>SPA Developer at Prudential</td>
                </tr>
                <tr>
                  <td>Web Developer at Wells Fargo</td>
                </tr>
                <tr>
                  <td>Web Developer at Lionsgate</td>
                </tr>
                <tr>
                  <td>
                    Developer for Johnson & Johnson, Pfizer, and Merck Pharma
                  </td>
                </tr>
                <tr>
                  <td>Game Designer at EA Games</td>
                </tr>
                <tr>
                  <td>Sr. Designer for HBO & Showtime</td>
                </tr>
                <tr>
                  <td>iTunes Developer</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="history-block">
          <div class="employer-history">
            <h4>Health Net</h4>
            <span>9/2010 - 9/2013</span>
            <h6>Multimedia Specialist</h6>
            <span>Woodland Hills, CA</span>
          </div>
          <ul class="job-description" *ngIf="windowWidth > 900">
            <li>Create & run the multimedia department</li>
            <li>
              Develop a library of web components & a massive collection of
              digital products
            </li>
            <li>
              Create After Effects videos for health plans, contribute to
              healthnet.com, & oversee all multimedia related projects
            </li>
            <li>
              Lead meetings, pitch ad campaign concepts, work w/ legal teams,
              copywriters, designers, & numerous departments
            </li>
          </ul>
          <div class="job-description" *ngIf="windowWidth < 901">
            Being tasked with creating and running the multimedia department, my
            responsibilities were vast. The role called for digitizing a variety
            of content. Designing and developing native web components and
            creating motion graphics videos for health plans; develop a
            tremendous amount of data driven content for healthnet.com and
            numerous ad campaigns; lead meetings, pitch concepts, work w/ legal
            teams, copywriters, designers, and DBAs.
          </div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <app-right-column></app-right-column>
    </div>
  </main>
</div>
