<div class="page-content">
    <div class="details" (click)="closeDatePicker($event)">
        <h1 class="page-title">{{pageTitle}}</h1>
        <div class="breadcrumbs">
            <div class="active-crumb" (click)="toggleDevMenu()">
                <span #apps>UI Components</span>
                <span #menuIcon class="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </span>
            </div>
        </div>
        <app-dev-menu *ngIf="devMenuStatus"></app-dev-menu>
    </div>
    <main [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'" (click)="closeDatePicker($event)">
        <div class="left-column">
            <app-post-details></app-post-details>
            <router-outlet></router-outlet>
            <div *ngIf="windowWidth < 769">
                <app-right-column></app-right-column>
            </div>
        </div>
        <div *ngIf="threeColumnLayout" class="middle-column" (click)="closeDatePicker($event)">
            <div *ngIf="windowWidth > 1400">
                I use components as often as possible. I use web components for native JS applications and Angular
                components for single page apps. I enjoy creating libraries of components. Passing data between
                siblings, parents/children, and via services; components are the building blocks of most if not all
                frameworks.<br><br>
                Using components, sharing data and services, coupled with modules, directives, and fancy sass solutions
                enable me to develop highly scalable, fast, and mobile friendly apps. This section contains an array of
                components that can easily be plugged into data streams.<br><br>
                Moreover, I'm a big advocate of modularizing features/pages. This practice enables Angular's lazy
                loading. Grouping components, importing them to modules, and using observables are the backbone and
                frontend ingredients of viable SPAs.
            </div>
            <div *ngIf="windowWidth < 1101">
                <app-right-column></app-right-column>
            </div>
        </div>
    </main>
    <div class="right-column" (click)="closeDatePicker($event)">
        <app-right-column></app-right-column>
    </div>
</div>