<div class="page-content">
  <div class="details">
    <app-back-button></app-back-button>
    <h1 class="page-title">{{ pageTitle }}</h1>

    <app-post-details
      *ngIf="pageTitle != 'Website Features' && windowWidth > 1199"
    ></app-post-details>

    <app-category-navigation
      *ngIf="windowWidth > 605"
      [categoryType]="'cmp'"
    ></app-category-navigation>
  </div>

  <main
    [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'"
  >
    <div class="left-column">
      <router-outlet></router-outlet>
      <app-post-details
        *ngIf="pageTitle != 'Website Features' && windowWidth < 1200"
      ></app-post-details>
      <app-end-of-post *ngIf="!cornerstone"></app-end-of-post>
    </div>

    <div class="middle-column" *ngIf="threeColumnLayout">
      <app-related-components [type]="'cmp'"></app-related-components>
    </div>

    <div class="right-column">
      <app-right-column></app-right-column>
    </div>
  </main>
</div>
