<span *ngIf="windowWidth! < 993" class="hamburger-icon" (click)="togglePanel()"
  >&#9776;</span
>
<div
  class="fly-out-menu"
  *ngIf="windowWidth! < 993"
  [ngClass]="{ 'open-menu': !menuOpen }"
>
  <div class="wrapper">
    <nav>
      <div
        *ngFor="let item of navigationArray"
        (click)="loadCategory(item)"
        [ngClass]="{ 'is-active': categoryType === item.type }"
      >
        <span class="type-name">{{ item.text }}</span>
      </div>
    </nav>

    <div class="category-content">
      <div class="scroller">
        <div
          *ngFor="let item of dataArray | slice : 0 : 9"
          class="category-item element-shadow"
        >
          <p>{{ item.title }}</p>
          <div (click)="itemNavigation(item)" class="thumb">
            <img [src]="item.imgUrl" />
          </div>
        </div>
      </div>
      <button (click)="navigateToCateory()" type="button" class="standard-btn">
        View All
      </button>
    </div>
  </div>
</div>

<div *ngIf="windowWidth! > 992" class="category-group">
  <div
    *ngFor="let item of navigationArray"
    (click)="navigateToRoute(item)"
    class="standard-btn"
    [ngClass]="{ 'is-active': categoryType === item.type }"
  >
    {{ item.text }}
    <!-- <div class="item-count">{{ item.total }}</div> -->
  </div>
</div>
