@import '../../../styles/page-style.scss';

.category-group {
  font: normal 14px sans-serif;
  transform: translateY(-50%) translateX(9.5px);
  top: 50%;
  position: absolute;
  right: 20px;

  > div {
    display: inline-block;
    cursor: pointer;
    outline: none;
  }
}

@media screen and (max-width: 992px) {
  .hamburger-icon {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 20px;
    font-size: 35px;
  }
  .fly-out-menu {
    background-color: $greyBlack;
    height: calc(100vh - 135px);
    transition: left 0.3s;
    position: absolute;
    width: 100%;
    top: 67px;
    left: 0;
    .wrapper {
      margin: 0 auto;
      padding-top: 20px;
      nav {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        grid-column-gap: 20px;
        justify-content: center;
        span {
          color: $oceanBlue;
          font: normal 14px sans-serif;
          text-align: center;
          cursor: pointer;
          background-color: $white;
          transition: all 0.25s;
          padding: 5px 0;
          border-radius: 4px;
          width: 125px;
        }
        span:hover {
          background-color: $oceanBlue;
          color: $white;
        }
      }
      .category-content {
        background-color: $white;
        border-radius: 6px;
        margin: 0 20px;
        overflow: auto;
        height: calc(100vh - 220px);
        .scroller {
          display: grid;
          grid-template-columns: repeat(3, calc(33.3% - 30px));
          padding: 25px 0;
          justify-content: center;
          grid-gap: 20px;
          margin: 0 auto;
          border-radius: 6px;
          .category-item {
            overflow: hidden;
            border-radius: 6px;
            p {
              white-space: nowrap;
              text-align: center;
              margin: 0;
              padding: 5px 0;
              font: normal 13px sans-serif;
            }
            .thumb {
              cursor: pointer;
              img {
                width: 100%;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .open-menu {
    left: 110% !important;
  }
}

@media screen and (max-width: 768px) {
  .fly-out-menu {
    top: 50px;
    height: calc(100vh - 100px);
    .wrapper {
      .category-content {
        height: calc(100vh - 175px);
        .scroller {
          grid-template-columns: repeat(2, calc(50% - 10px));
          padding: 25px;
        }
      }
    }
  }
  .hamburger-icon {
    top: 3px;
  }
}
