@import '../../../styles/page-style.scss';

.category-group {
  font: normal 15px sans-serif;
  transform: translateY(-50%) translateX(9.5px);
  top: 50%;
  position: absolute;
  right: 20px;

  > div {
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 3px 10px;
    border-radius: 4px;
    transition: background-color 0.25s;
  }

  > div:hover {
    background-color: $greyBlack;
    color: $yellowGold;
  }

  > div:not(:last-child) {
    margin-right: 5px;
  }
}

@media screen and (max-width: 992px) {
  .category-burger-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 35px;
  }
}
