<span
  *ngIf="windowWidth! < 993"
  class="hamburger-icon"
  (click)="menuOpen = !menuOpen"
  >&#9776;</span
>
<div
  class="fly-out-menu"
  *ngIf="windowWidth! < 993"
  [ngClass]="{ 'open-menu': !menuOpen }"
>
  <div class="wrapper">
    <nav>
      <span (click)="loadCategory('projects')">Projects</span>
      <span (click)="loadCategory('components')">Components</span>
      <span (click)="loadCategory('development')">Development</span>
    </nav>
    <div class="category-content">
      <div class="scroller">
        <div
          *ngFor="let item of dataArray"
          class="category-item element-shadow"
        >
          <p>{{ item.title }}</p>
          <div (click)="navigateToURL(item)" class="thumb">
            <img [src]="item.imgUrl" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="windowWidth! > 992" class="category-group">
  <div routerLink="/javascript-projects" routerLinkActive="active-btn">All</div>
  <div
    routerLink="/web-development-projects/front-end-development"
    routerLinkActive="active-btn"
  >
    Projects
  </div>
  <div
    routerLink="/ui-components/website-features"
    routerLinkActive="active-btn"
  >
    Components
  </div>
  <div
    routerLink="/web-application-development/learn-to-code"
    routerLinkActive="active-btn"
  >
    Development
  </div>
</div>
