<div class="page-content">
  <div class="details">
    <h1 class="page-title">{{ pageTitle }}</h1>
    <app-post-details *ngIf="pageTitle != 'Learn to Code'"></app-post-details>
    <app-category-navigation
      *ngIf="windowWidth > 650"
    ></app-category-navigation>
  </div>

  <main
    [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'"
  >
    <div class="left-column">
      <router-outlet></router-outlet>
      <app-end-of-post></app-end-of-post>
    </div>

    <div *ngIf="threeColumnLayout" class="middle-column">
      <app-related-components
        [dataArray]="developmentArray"
      ></app-related-components>
    </div>

    <div class="right-column">
      <app-right-column></app-right-column>
    </div>
  </main>
</div>
