<div class="page-content">
    <div class="details" (click)="pageClickHandler($event)">
        <h1 class="page-title">{{pageTitle}}</h1>
        <div class="breadcrumbs">
            <div class="active-crumb" (click)="toggleDevMenu()">
                <span #development>Learn to Code</span>
                <span #menuIcon class="menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </span>
            </div>
        </div>
        <app-dev-menu *ngIf="devMenuStatus"></app-dev-menu>
    </div>
    <main [ngClass]="threeColumnLayout ? 'three-column-layout' : 'two-column-layout'">
        <div class="left-column" (click)="pageClickHandler($event)">
            <app-post-details></app-post-details>
            <router-outlet></router-outlet>
            <app-right-column *ngIf="windowWidth < 769"></app-right-column>
        </div>
        <div *ngIf="threeColumnLayout" class="middle-column" (click)="pageClickHandler($event)">
            <div *ngIf="windowWidth > 1100">
                As a frontend developer, I'm often called upon to work directly with designers, create my own designs,
                and/or refine UI designs. These pieces are several, rather old, designs/videos I created with Photoshop,
                Sketch, and After Effects.<br><br>
                Today, I enjoy creating my own complex, data driven UIs. I enjoy adding unique details to each screen
                size, paying special attention to speed and performance.<br><br>
                These days most anyone can create a backend solution. But good, responsive UI design is both hard to
                come by, and sometimes more challenging than coding.
            </div>
            <div *ngIf="windowWidth < 1101">
                <app-right-column></app-right-column>
            </div>
        </div>
    </main>
    <div class="right-column" (click)="pageClickHandler($event)">
        <app-right-column></app-right-column>
    </div>
    <div class="right-column" (click)="pageClickHandler($event)">
        <app-right-column></app-right-column>
    </div>
</div>