<div *ngIf="repoLink != ''" class="project-details">
  <div class="specs">
    <div
      [ngClass]="views > 0 ? 'specs-and-details' : ''"
      *ngIf="repoLink != ''"
      class="git"
    >
      <span class="external-link" (click)="navigateToPage()">Repo</span>
    </div>
    <div *ngIf="views > 0" class="views-forks">
      <div class="stackblitz-logo">
        <div>
          <img src="../../../assets/img/stackblitz_logo.png" />
        </div>
      </div>
      <div class="views">
        <div>
          <img src="../../../assets/img/views-icon.jpg" />
        </div>
        <span>{{ formatViews(views) }}</span>
      </div>
      <div *ngIf="forks! > 0" class="forks">
        <div>
          <img src="../../../assets/img/fork-icon.png" />
        </div>
        <span>{{ forks }}</span>
      </div>
    </div>
  </div>
</div>
