@import '../../styles/page-style.scss';

.project-details {
  display: inline-block;
  margin-left: 20px;
  .specs {
    display: flex;
    grid-column-gap: 10px;
    position: relative;
    font: normal 14px sans-serif;
    .git {
      transform: translateY(5px);
      a {
        color: $oceanBlue;
      }
    }
    .views-forks {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 6px;
      border: 1px solid $greyBlack;
      border-radius: 4px;
      height: 21px;
      padding: 5px 5px 0px 5px;
      .views {
        > div {
          width: 20px;
        }
      }

      .stackblitz-logo {
        > div {
          width: 13px;
          transform: translateY(-2.5px);
        }
      }

      .forks {
        > div {
          width: 10px;
        }
      }

      .views,
      .stackblitz-logo,
      .forks {
        display: flex;
        grid-column-gap: 5px;
        > div {
          padding-top: 1px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .specs-and-details {
    top: calc(27.5px / 2);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 1200px) {
  .project-details {
    margin: 25px auto 30px auto;
    display: block;
    .specs {
      justify-content: center;
    }
  }
}
