@import '../../styles/page-style.scss';

.angularjs-project {
  .img-wrapper {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .code-preview {
    margin-bottom: 20px;
  }
}

.angularjs-project-descr {
  margin: 35px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .angularjs-project-descr {
    margin: 35px 0 45px 0;
  }
}
