<p class="project-text">
  I designed and developed this AngularJS project way back in 2017 for Viking
  Cruises. They wanted something interactive and innovative. Something they
  could add to their website as a standalone application. At the time, the only
  way consumers could explore the decks was by downloading a PDF. I sought out
  to do more. In turn, bringing a better user experience to the client.
  <a
    class="external-link"
    href="https://codepen.io/eastcoastdeveloper/project/full/ZgbdLb"
    target="_blank"
    >View a working demo</a
  >, or explore the code on CodePen:
  <a
    class="external-link"
    href="https://codepen.io/eastcoastdeveloper/project/editor/ZgbdLb"
    target="_blank"
    >AngularJS Project</a
  >
</p>

<div class="image-wrapper element-shadow element-margin-top">
  <img
    [src]="angularJSimageOne"
    alt="Home page of the app with a blue header, drop down menu, and a main image with next and previous buttons."
  />
</div>

<p class="project-text element-margin-top">
  Being pressed for time, and without the leisure to create and revise a mock, I
  simply used one file for numerous controllers (below). Loading was taken care
  of quite well with a custom AngularJS loader. I created an image and video
  gallery template with a custom directive, then passed each the appropriate
  details. Though the data should've been housed in a JSON file, I found this to
  be a clean method.
</p>

<div class="code-preview element-margin-top">
  <pre><code>{{controller}}</code></pre>
</div>

<div class="image-wrapper element-shadow element-margin-top">
  <img
    [src]="angularJSimageTwo"
    alt="Table that sorts and filters data with row clicks and a search field."
  />
</div>

<p class="project-text element-margin-top">
  These are the five directives I created. The last three are for image
  galleries and the YouTube player. There's 10 pages with image galleries. Each
  page has 3-5 image galleries. So there's 30-50 image galleries all powered by
  the same directive/ template.
</p>

<div class="code-preview element-margin-top">
  <pre><code>{{directives}}</code></pre>
</div>

<div class="image-wrapper element-shadow element-margin-top">
  <img
    [src]="angularJSimageThree"
    alt="Image gallery on the top half accessible by clicking on large dots on the boat deck."
  />
</div>

<div class="image-wrapper element-shadow element-margin-top">
  <img
    [src]="angularJSimageFour"
    alt="Navigate through itineraries and trip information inside a lightbox."
  />
</div>

<div class="image-wrapper element-shadow element-margin-top">
  <img
    [src]="angularJSimageFive"
    alt="Enter a city to get current temperature and the location displayed on a map."
  />
</div>

<p class="project-text element-margin-top">
  Regardless of whether the project is an archaic or thriving framework, it's
  the architecture that matters. How it's built. How the features are divided
  up. Harnessing templates, properly sharing data, and loading assets for
  instance are of upmost importance. Yes, many of the frameworks of yesterday
  and today innately advocate these developmental principles, but not everyone
  takes advantage of them.
</p>

<p class="project-text element-margin-top">
  Just recently for instance, I discovered a coworker trying to query the DOM
  via getElementById. He had no idea what life cycle hooks are. He was unaware
  of
  <a
    class="external-link"
    href="https://angular.io/api/core/ViewChild"
    target="_blank"
    >@ViewChild</a
  >
  and
  <a
    class="external-link"
    href="https://angular.io/api/core/Renderer2"
    target="_blank"
    >Renderer2.</a
  >
  I've seen the same function duplicated across numerous components instead of
  using a service. Senior devs that don't know how to use observables in
  TypeScript. But I digress. I hope you've enjoyed this brief explaination and
  check out my AngularJS project!
</p>
