@import '../../../styles/page-style.scss';

.intro {
  margin-top: 20px;
  ul {
    margin-top: 15px;
  }
}

.count-down-timer {
  text-align: center;
  background-color: $greyBlack;
  color: $yellowGold;
  border-radius: 6px;
  padding: 10px;
  position: relative;
  border: 1px solid $white;

  > p {
    margin: 5px 0 15px 0;
    font: normal 15px sans-serif;
  }

  ::ng-deep .days-loading {
    color: $white;
    font: normal 15px sans-serif;
    letter-spacing: 0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper {
    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      > p {
        font: normal 14px sans-serif;
      }
    }

    .times {
      p {
        letter-spacing: -2px;
        position: relative;
        margin: 0;
        font: normal 50px sans-serif;

        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}

// .timer-project-descr {
//   margin: 30px 0 15px 0;
// }

// @media screen and (max-width: 1300px) {
//   .timer-project-descr {
//     margin: 25px 0 43px 0;
//   }
// }

// @media screen and (max-width: 992px) {
//   .timer-project-descr {
//     margin: 30px 0 10px 0;
//   }
// }

@media screen and (max-width: 768px) {
  .count-down-timer {
    .wrapper {
      .times {
        p {
          font: normal 40px courier, sans-serif;
        }
      }
    }
  }
}
