@import '../../../styles/colors.scss';

.count-down-timer {
  text-align: center;
  background-color: $greyBlack;
  color: $yellowGold;
  border-radius: 6px;
  padding: 10px;

  > p {
    margin: 5px 0 15px 0;
    font: normal 15px sans-serif;
  }

  .wrapper {
    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      > p {
        font: normal 14px sans-serif;
      }
    }

    .times {
      p {
        letter-spacing: -2px;
        position: relative;
        margin: 0;
        font: normal 50px courier, sans-serif;

        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}
