<div *ngIf="relatedItems[0]?.title" class="related-items">
  <div class="category-wrapper">
    <div
      *ngFor="let item of relatedItems | slice : 0 : 4"
      class="element-shadow related-item"
    >
      <div *ngIf="item.internal" routerLink="{{ item.path }}">
        <div class="title">
          {{
            item.title.length > 25
              ? item.title.slice(0, 22) + '...'
              : item.title
          }}
        </div>
        <div class="item-wrapper">
          <img src="{{ item.imgUrl }}" />
        </div>
      </div>
      <div *ngIf="!item.internal" (click)="navigateToPage(item.path)">
        <span>
          <img src="assets/img/new-tab.png" />
        </span>
        <div class="title">
          {{
            item.title.length > 25
              ? item.title.slice(0, 22) + '...'
              : item.title
          }}
        </div>
        <div class="item-wrapper">
          <img src="{{ item.imgUrl }}" />
        </div>
      </div>
    </div>
  </div>
</div>
