@import '../../../styles/colors.scss';

.related-items {
  position: fixed;

  .category-wrapper {
    color: $greyBlack;
    width: 240px;
    margin: 25px auto 0 auto;
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-row-gap: 15px;

    p {
      font: 600 13px sans-serif;
      color: $greyBlack;
      position: absolute;
      top: 3px;
    }

    .related-item {
      margin: 0 auto;
      outline: none;
      cursor: pointer;
      overflow: hidden;
      font: normal 13px sans-serif;
      border-radius: 5px;
      display: grid;
      grid-template-rows: 25px auto;

      .title {
        margin-bottom: 4px;
        color: $greyBlack;
        background-color: $white;
        padding: 5px;
      }
    }

    .item-wrapper {
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .related-items {
    position: unset;

    .category-wrapper {
      grid-template-columns: repeat(4, calc(25% - 15px));
      grid-gap: 20px;
      width: 100%;
      grid-template-rows: repeat(1, 120px);

      > div {
        .title {
          margin: 0;
        }

        .item-wrapper {
          img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .related-items {
    .category-wrapper {
      grid-template-columns: repeat(2, calc(50% - 11px));
      grid-template-rows: repeat(2, 125px);
      grid-gap: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .related-items {
    padding: 0;
    .category-wrapper {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 150px);
    }
  }
}
