<div class="form-wrapper">

  <form [formGroup]="form" novalidate>
    <div class="form-group">
      <label class="center-block"><span>First Name:</span>
        <input class="form-control" formControlName="firstName">
      </label>
      <label class="center-block"><span>Last Name:</span>
        <input class="form-control" formControlName="lastName">
      </label>
      <label class="center-block"><span>Phone Number:</span>
        <input class="form-control" formControlName="phone">
      </label>
    </div>

    <div
      *ngIf="form.controls['firstName'].invalid && (form.controls['firstName'].dirty || form.controls['firstName'].touched)"
      class="alert">
      <div *ngIf="form.controls['firstName'].errors.required">
        Please enter your first name.
      </div>
    </div>

    <div
      *ngIf="form.controls['lastName'].invalid && (form.controls['lastName'].dirty || form.controls['lastName'].touched)"
      class="alert">
      <div *ngIf="form.controls['lastName'].errors.required">
        Please enter your last name.
      </div>
    </div>

    <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)"
      class="alert">
      <div *ngIf="form.controls['phone'].errors.required">
        Please enter a phone number.
      </div>
    </div>

  </form>
  <!-- <p>myForm value: {{ form.value | json }}</p>
    <p>myForm status: {{ form.status | json }}</p> -->
</div>