@import '../../styles/colors.scss';

::ng-deep img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 35px !important;
  height: 40px !important;
}

.rest-intro {
  margin-bottom: 30px;
}

.rest-countries {
  max-width: 1000px;
  border-radius: 6px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

#countries > .snippet-description:first-child {
  columns: 2;
}

.content {
  position: relative;
  height: calc(100vh - 195px);
}

.countries-wrapper {
  background-color: $white;
  color: $greyBlack;
  position: relative;
  height: calc(100% - 10px);
  z-index: 999;
}

.details-body {
  background-color: $white;
  display: grid;
  padding: 5px;
  grid-template-columns: 100%;
  grid-row-gap: 2px;
}

.data-imagery {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.rest-countries-project-descr {
  margin: 35px 0 45px 0;
}

@media screen and (max-width: 1300px) {
  .rest-wrapper {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 992px) {
  #countries > .snippet-description:first-child {
    columns: 1;
  }
  .rest-wrapper {
    margin: 0;
  }

  #countries {
    .snippet-description {
      margin-bottom: 35px;
      columns: 1;
    }
  }

  .rest-countries-project-descr {
    margin: 35px 0 15px 0;
  }
}

@media screen and (max-width: 500px) {
  #countries {
    .snippet-description {
      margin-bottom: 10px;
    }
  }
}
