@import '../../../styles/page-style.scss';

.accordion-wrapper {
  border-radius: 5px;
  overflow: hidden;
}

.data-block {
  font: normal 14px sans-serif;
  cursor: pointer;
  position: relative;

  p {
    background-color: $oceanBlue;
    color: $white;
    margin: 0;
    padding: 10px 0 10px 10px;
  }

  .count {
    position: absolute;
    top: 0;
    right: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    line-height: 25px;

    li {
      display: grid;
      padding: 5px 10px 5px 30px;
      grid-template-areas: 'title title' 'code project';

      .title {
        color: $white;
      }

      div:not(:first-child) {
        font-style: italic;
      }
    }

    li {
      background-color: $greyBlack;
    }

    li:hover {
      background-color: $greyBlack;
    }

    a {
      color: $white;
      text-decoration: none;
      transition: color 0.3s;
    }

    a:hover {
      color: $yellowGold;
    }
  }
}

.data-block:not(:last-child) {
  border-bottom: 1px solid $white;
}

.hidden-content {
  overflow: auto;
  max-height: 0;
  color: $white;
}

#skills {
  list-style-type: unset;
  background-color: $greyBlack;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  line-height: 20px;
  text-align: center;
  padding: 10px;

  li {
    display: block;
    padding: 5px 10px 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .accordion-wrapper {
    width: 100%;
    max-width: unset;
  }
}
