@import '../../../styles/page-style.scss';

.accordion-wrapper {
  margin: 30px auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.data-block {
  font: normal 14px sans-serif;
  cursor: pointer;
  position: relative;
  p {
    background-color: $greyBlack;
    color: $yellowGold;
    margin: 0;
    padding: 10px 0 10px 10px;
  }
  .count {
    position: absolute;
    top: 0;
    right: 15px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    line-height: 25px;
    li {
      display: grid;
      padding: 5px 10px 5px 30px;
      grid-template-areas: 'title title' 'code project';
      .title {
        color: $white;
        grid-area: title;
      }
      .code-link {
        a {
          grid-area: code;
        }
      }
      .project-link {
        a {
          grid-area: project;
        }
      }
      div:not(:first-child) {
        font-style: italic;
      }
    }
    li:nth-child(even) {
      background-color: rgba(49, 59, 63, 0.8);
    }
    li:nth-child(odd) {
      background-color: rgba(49, 59, 63, 0.9);
    }
    li:hover {
      background-color: $greyBlack;
    }

    a {
      color: $white;
      text-decoration: none;
      transition: color 0.3s;
    }
    a:hover {
      color: $yellowGold;
    }
  }
}
.data-block:not(:last-child) {
  border-bottom: 1px solid $white;
}
.hidden-content {
  overflow: auto;
  max-height: 0;
  color: $white;
}
.show-content {
  max-height: 250px !important;
}
#skills {
  grid-template-columns: 50% 50%;
  background-color: $greyBlack;
  padding: 0 0 10px 30px;
  list-style-type: unset;
  display: grid;
  line-height: 20px;
  li {
    padding: 5px 10px 5px 0;
    display: block;
  }
}
.borderBottom {
  border-bottom: 1px solid $white;
  position: absolute;
  top: 36px;
  width: 100%;
  z-index: 1;
}
