<div class="page-content">
  <div class="details">
    <h1 id="project-list-title" class="page-title">JavaScript Projects</h1>
    <app-category-navigation
      *ngIf="windowWidth > 605"
      [categoryType]="'all'"
    ></app-category-navigation>
  </div>
  <main class="two-column-layout">
    <div class="left-column">
      <app-projects-list-content
        [dataArray]="projectsArray"
      ></app-projects-list-content>
      <app-pagination [categoryProp]="categoryType"></app-pagination>
    </div>

    <div class="right-column">
      <app-right-column></app-right-column>
    </div>
  </main>
</div>
