@import '../../styles/cornerstone.scss';

#project-list-title {
  text-transform: capitalize;
}

.filter-items {
  list-style-type: none;
  font: normal 14px sans-serif;
  display: grid;
  grid-template-columns: repeat(6, auto);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  li {
    cursor: pointer;
  }
}
