@import '../../styles/colors.scss';

.project-description,
.gallery-nav,
.gallery {
  font: normal 14px sans-serif;
}

#product-gallery {
  overflow: auto;
  color: $greyBlack;
  position: relative;

  .mobile-navigation {
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    width: 110px;
    right: 0;

    .previous,
    .next {
      background-color: $oceanBlue;
      box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 30%);
      color: $white;
      font-size: 21px;
      position: absolute;
      cursor: pointer;
      padding: 0 10px;
      border-radius: 4px;
    }

    .previous {
      left: 15px;
    }

    .next {
      right: 0;
    }
  }
}

.gallery-nav {
  margin: 0 0 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-column-gap: 5px;

  span {
    cursor: pointer;
  }
}

.gallery {
  display: grid;
  grid-template-columns: calc(100% - 180px) 150px;
  grid-column-gap: 25px;
  padding-bottom: 20px;

  .main-image {
    img {
      width: 100%;
      display: block;
    }

    .project-description {
      line-height: 25px;

      p {
        margin: 20px 0;
      }
    }

  }

  .thumbs {
    display: grid;
    grid-row-gap: 15px;
    cursor: pointer;
    grid-template-rows: repeat(4, 100px);

    >div {
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 30%);
      width: 150px;
      height: 95px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .gallery {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  #product-gallery {
    .mobile-navigation {
      width: 110px;
      font-size: 20px;
    }
  }

  .gallery-nav {
    grid-template-columns: repeat(2, 110px);
  }
}
