<p class="project-text">
  This Angular dynamic sidebar illustrates how to populate a navigation with
  JSON. Something that may become necessary in the event you need to assign user
  permissions to page content. This would more than likely be accomplished via
  an API. Hence the dummy data JSON stream. No doubt there's other ways to
  develop such a feature. This is but one possible method.
</p>

<div id="dynamic-sidebar">
  <span class="expand-all" (click)="toggleAll()">{{
    !expandAll ? 'Expand All' : 'Close All'
  }}</span>
  <div class="wrapper element-shadow">
    <div class="group" *ngFor="let item of result; let i = index">
      <a
        *ngIf="item.submenu.length"
        (click)="ddToggle(i)"
        class="light-blue-bg"
        >{{ item.linkText }}</a
      >
      <a
        *ngIf="!item.submenu.length"
        (click)="ddToggle(i)"
        class="light-blue-bg"
        >{{ item.linkText }}</a
      >
      <div
        *ngIf="item.submenu.length"
        class="caret"
        [ngClass]="{ 'rotate-caret': item.menu }"
      >
        &#9660;
      </div>
      <div class="sub-menu" [ngClass]="{ 'show-menu': item.menu }">
        <ul *ngFor="let menu of result[i].submenu">
          <li>
            <a>{{ menu.childtext }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h2>The Payload</h2>
<p class="project-text">
  Let's begin with the data. linkText is the top tier text. parentLink is the
  top tier link. The menu boolean dictates whether the dropdown is open or
  closed. The submenu array contains the dropdown menu text and link.
</p>

<div class="code-preview">
  <pre><code>{{json}}</code></pre>
</div>

<h2>Create the Interface</h2>
<p class="project-text">
  SidebarModel is a representation of the above data. A TypeScript interface is
  not compiled to JavaScript, since it doesn't exist in the language. It's
  merely a virtual outline solely residing in the TypeScript
  ecosystem&mdash;used for type checking. Upon transpiling however, they're
  removed.
</p>

<div class="code-preview">
  <pre><code>{{model}}</code></pre>
</div>

<h2>Angular Dynamic Sidebar TypeScript</h2>
<ul class="project-list">
  <li>Set the result equal to an empty array with a SidebarModel type.</li>
  <li>Get the data in the constructor with a reference to the HttpClient.</li>
  <li>Set result equal to the response.</li>
  <li>The ddToggle fn toggles the menu boolean by passing the indice.</li>
  <li>That's really all there is to it!</li>
</ul>

<div class="code-preview">
  <pre><code>{{typescript}}</code></pre>
</div>

<h2>The Markup</h2>
<ul class="project-list">
  <li>Loop over the result containing the imported data.</li>
  <li>
    There's two links&mdash;one for items with a submenu, the other without a
    submenu. Each contains the ddToggle fn. Items that have a parentLink are
    accommodated.
  </li>
  <li>
    The sub-menu class has a dynamic class tied to the menu boolean value.
    Following, we loop over the submenu items.
  </li>
</ul>

<div class="code-preview">
  <pre><code>{{markup}}</code></pre>
</div>

<h2>Prettify it with Sass</h2>
<p class="project-text">
  Though not much actual Sass featuring here, I use it as a default. Mainly for
  nesting.
</p>

<div class="code-preview">
  <pre><code>{{scss}}</code></pre>
</div>

<h2>Conclusion</h2>
<p class="project-text">
  The only thing remaining here is to add HttpClientModule to the module. Not
  doing this will cause an error. As stated above, there's numerous ways to
  accomplish this. Regardless of how it's done, conceptually, this is a
  theoretical reference. Feel free to fork this Angular dynamic sidebar project
  located <span class="attention-arrow">&#x2190;</span>
  <span class="external-link" (click)="navigateToPage(urlStackblitz)">here</span
  >. Have a great day!
</p>
